[2017-10-23 00:59] tonysneed opened #3 "Logo Image"
![handlebars-logo](https://user-images.githubusercontent.com/2836367/31868368-730c9136-b763-11e7-8a32-2d9036da19f6.jpg)

[2017-10-23 01:01] #3 closed

[2017-10-24 04:34] noufionline opened #5 "Nuget Package Missing"
Hi Tony,

Good Morning!

Thanks for your fantastic efforts. You indeed helped developers like us to be more productive and efficient.

I was trying the new scaffolding mechanism this morning, but unfortunately, the nuget file is missing

Just wanted to let you know.

Thanks.

[2017-10-24 08:11] tonysneed commented on #5
It’s not quite done yet. :) NuGet doesn’t support adding content (like code templates) with the new project system used with .NET Core, so I have to put some code in the project that copies the template files to the target project if they don’t already exist.

I’m also going to ask the EF Core team to make the discovery of the extension easier, so you don’t need a class that implements IDesignTime

[2017-10-25 02:54] tonysneed commented on #5
The NuGet package has not been published.  See the updated project README for instructions.  Enjoy!

[2017-10-25 06:19] noufionline commented on #5
Thanks.
But it's not available yet in nuget.

[2017-10-25 09:48] tonysneed commented on #5
Ah, forgot to hit submit.  It's there now.  Let me know what you think about it.

[2017-10-25 15:32] noufionline commented on #5
Great Work. It would be really nice if you can extend this to add all the templates required to create a full fledged asp.net core web api with trackable entities.

Hats off to your wonderful work!

[2017-10-26 00:45] tonysneed commented on #5
Thanks for the kudos!

For the ASPNET templating you can use the dotnet new command.

Thanks,
Tony

[2017-10-26 09:52] noufionline commented on #5
You mean there is another special template for Asp.Net core with trackable entities you mean. or you are referring the standard dotnet new?

[2017-10-26 11:12] tonysneed commented on #5
Oh I see, you meant a web api template for trackable entities. I was referring to the standard dotnet new, but that doesn’t give any TE stuff.

I have awesome templates for classic TE, but they took a lot of time to create and maintain. That said, it might be interesting to implement a scaffolder for ASPNET Core controllers that uses Handlebars. I’ll look into that.

[2017-10-26 14:46] noufionline opened #8 "Entity Name in Plural Form"
Hi Tony,

Greetings again.

Is there any way you can help us to create entities without pluralization? We prefer Customer instead of Customers.

[2017-10-26 15:43] tonysneed commented on #8
So there are a few steps to follow to use pluralization in EF Core.
- Install-Package Inflector
- Add a class that implements `IPluralizer`

[code]

- Add a line of code to `IDesignTimeServices.ConfigureDesignTimeServices`:

[code]

See here for more info: https://docs.microsoft.com/en-us/ef/core/what-is-new/

[2017-10-26 15:43] #8 closed

[2017-10-28 12:07] tonysneed commented on #5
@noufionline There is a way to customize the built-in template for generating Web API controllers.  See this SO [post](https://stackoverflow.com/questions/38382954/custom-scaffold-templates-in-asp-net-core) for how to do it.

[2017-10-28 20:13] tonysneed commented on #5
PS. I tried it, and this technique works.  However, I plan to go ahead and create a NuGet package that provides razor templates that can be customized.

[2017-10-29 09:58] ErikEJ opened #9 "Need strongly signed dll"
In order for me to provide this with EF Core Power Tools, as Visual Studio extension, I need a strongly signed assembly - both of this and HandleBars.NET. Are you able to provide that (prefer not to include the source directly)

[2017-10-30 05:39] noufionline commented on #5
Thanks, Tony,

That's a good news.

Waiting for your new templates.

[2017-10-30 05:40] noufionline opened #10 "TimeStamp attribute not decorated on RowVersion Properties"
Hi Tony,

While scaffolding RowVersion columns are not decorated with TimeStamp Attribute

[2017-10-30 12:40] tonysneed commented on #9
I don't mind signing my assembly.  I'll have to see if [Handlebars.Net](https://github.com/rexm/Handlebars.Net) is game.

Out of curiosity, why are you signing your assembly?  I've [read](https://www.pedrolamas.com/2016/03/01/still-strong-naming-your-assemblies-you-do-know-its-2016-right/) it's not really done very much these days.

[2017-10-30 13:02] ErikEJ commented on #9
Visual Studio refuses to load non-signed assemblies - only other option is to include source...

[2017-10-30 13:26] tonysneed commented on #9
Makes sense .. I didn't notice because Trackable Entities is strongly named, so the VSIX didn't complain.

[2017-10-30 13:39] tonysneed commented on #5
It'd done: https://www.nuget.org/packages/AspNetCore.WebApi.Templates.  Enjoy!

[2017-10-30 13:39] #5 closed

[2017-10-30 13:51] tonysneed commented on #10
Adding the `TimeStamp` attribute is something you have to do yourself to implement a [concurrency control](https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/concurrency) strategy.

Because the entities are generated partial classes, you can use [metadata types](https://msdn.microsoft.com/en-us/library/ff664465(v=pandp.50).aspx) to add attributes in your own partial classes.

[2017-11-01 11:17] ErikEJ opened #11 "Change namespace of extension method"
https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/master/src/EntityFrameworkCore.Scaffolding.Handlebars/ServiceCollectionExtensions.cs#L5

To something like: Microsoft.EntityFrameworkCore.Design

[2017-11-01 11:51] tonysneed commented on #11
Sure .. is the problem that VS doesn’t provide a quick fix for bringing in extension method namespaces (like ReSharper does)?

[2017-11-01 12:09] ErikEJ commented on #11
It is just the design pattern for current extension methods,  and will cause much less friction due to missing namespaces, yes.

[2017-11-01 12:10] ErikEJ commented on #11
(VS does provide a quick fix for missing namespaces, but many VS users are not capable of using it)

[2017-11-01 17:28] tonysneed commented on #11
No prob .. that’s why it’s in beta. :)

[2017-11-06 13:52] ErikEJ opened #12 "Add ability to specify location of CodeTemplates folder"
Hi Tony,

I am facing some issue, maybe you can point me to a good place in the code to start debugging:

I am able to invoke the handelbars scaffolder, and drop CodeTemplates, but no replacements takes place after I modify the templates and re-run scaffolding. (I have included the source of both projects for now, until signing gets fixed (if ever))

https://github.com/ErikEJ/SqlCeToolbox/tree/mas

[2017-11-06 14:18] tonysneed commented on #12
My library looks for a specific location of the CodeTemplates folder off the project root.  If it doesn't find it, it copies the folder to that location and then uses it to generate classes.  I'm wondering if it might be coping the files to a location other than the one you modified and then using it.

The place to debug this issue would be the [RetrieveTemplateFileContents](https://github.com/Eri

[2017-11-06 14:20] tonysneed commented on #12
I was thinking about the signing issue.  If the author of Handlebars.net doesn't want to sign his library, I could create a signed version and publish it to NuGet, and then use it in a signed version of my library.

[2017-11-06 15:52] ErikEJ commented on #12
Excellent idea!

[2017-11-06 17:22] ErikEJ commented on #12
Thanks for the pointer!

This is the result of my debugging:

line 45: path = CodeTemplates/CSharpDbContext/Partials\DbImports.hbs

Current dir: C:\\Code\\SqlCeToolbox\\src\\GUI\\EFCorePowerTools\\bin\\x86\\Debug

line 54 localDirectory: C:\USERS\ERIK\APPDATA\LOCAL\MICROSOFT\VISUALSTUDIO\15.0_C5B80852EXP\EXTENSIONS\ERIKEJ\
EF CORE POWER TOOLS\0.2.0\CodeTemplates/CSharpDbContext/Partials

And the a

[2017-11-06 17:58] tonysneed commented on #12
So I'll refactor the code to accept a source directory, as well as a target directory, which will take precedence over the defaults.  Then you can supply both locations.

[2017-11-06 18:17] ErikEJ commented on #12
I think the WriteCode method already gets a outPutPath in EntityFrameworkCore.Scaffolding.Handlebars\HbsCSharpScaffoldingGenerator.cs, so I guess only the source is needed.

[2017-11-07 10:12] ErikEJ commented on #12
I have hacked my way out of this https://github.com/ErikEJ/SqlCeToolbox/blob/master/src/GUI/POC/EntityFrameworkCore.Scaffolding.Handlebars/FileSystemTemplateFileService.cs#L53
 and Handlebars templating is now available in the latest daily build of EF Core Power Tools!
https://github.com/ErikEJ/SqlCeToolbox/wiki/EF-Core-Power-Tools
Thanks for making this possible!

[2017-11-07 14:45] tonysneed commented on #12
@ErikEJ That's great!  I'll go ahead and update my project to add a source for the templates.  Then I can publish a signed version of Handlebars.net, so I can sign my project and publish a stable version.

[2017-11-07 16:59] ErikEJ commented on #12
Sound good, nicer to have just nuget packages rather than 3rd party source

[2018-02-13 15:18] HakanCelikMK1 opened #13 "HandlebarsRuntimeException: Referenced partial name dbimports could not be resolved"
Hi Tony,

I'm trying to use your library to customize my scaffolding.
When I try to scaffold the database I get the following exception :

[code]

My environment :

Windows 10 Enterprise 16299.192 x64
.NET Framework 4.7.1
Visual Studio 2017 Enterprise v15.5.5
.NET Core SDK v2.1.4

Project :
[code]
Can you help me find out what the problem is ?

Regards, Hakan

[2018-02-21 17:11] SgTS2020 opened #14 "Add ability to use Handlebars Helper"
Include feature like  :

- remove first characters  (table name is tblCustomer should be named as class Customer)
- Fomat string (class name) in CamelCase
...
Such as we can do with Handelbars Helper.

[2018-03-29 08:48] ErikEJ opened #15 "Update to 2.1-preview1 ?"
Any plans?

[2018-03-30 21:25] tonysneed commented on #15
Yes, but this is a big undertaking because the bits reply on classes in the Internal namespace.  So I thought I would hold off until 2.1-rc.  But it's definitely on the radar.  I'll keep this issue open to remind me to update it to 2.1 when the time comes.

[2018-04-15 18:51] TheDarkBoz opened #16 "Couldn't add Helper"
Hello

Like I said in EF Core power tools  [https://github.com/ErikEJ/SqlCeToolbox/issues/697](url)

Thank you
Best Regards

[2018-04-15 19:46] tonysneed commented on #16
My extension relies on Handlebars. Net, so the helper needs to be registered in C#. It might take me a bit of time to investigate, but there should be a hook. Let me get back to you on this. Thanks in advance for your patience. You might also want to check the documentation on Handlebars.Net.

[2018-05-24 20:05] tonysneed commented on #15
This issue is resolve with [release 1.0.0-rc1](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/releases/tag/v1.0.0-rc1).
The NuGet package has also been published: https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/1.0.0-rc

[2018-05-24 20:06] #15 closed

[2018-05-25 14:49] ErikEJ commented on #12
Did you do work on this?

[2018-05-25 15:11] tonysneed commented on #12
I can get this done today. It should be straightforward.

[2018-05-25 15:12] ErikEJ commented on #12
The thing is, I need both this and signing, alternatively I have to include source of this project and handlebars - so unless you also provide signed libraries, not worries.

[2018-05-25 15:19] tonysneed commented on #12
I’ll work on the templates source first, then strong naming.

[2018-05-25 18:18] tonysneed commented on #13
@HakanCelikMK1 Is this still a problem with the latest version>?

[2018-05-26 01:12] tonysneed commented on #12
So the way to specify a custom templates root directory is to extend `FileSystemTemplateFileService` and override `RetrieveTemplateFileContents`.  Then inject the derived class as `ITemplateFileService`.

I created this repo with a unit test and instructions: https://github.com/tonysneed/Demo.CustomHandlebarsTemplatesDirectory

@ErikEJ Let me know if this makes sense and works for you.

[2018-05-26 01:12] #10 closed

[2018-05-26 01:14] tonysneed commented on #11
I'll fix this for the RTM release.

[2018-05-26 01:39] tonysneed commented on #9
@ErikEJ Here is my fork of Handlebars.Net that I signed: https://www.nuget.org/packages/Handlebars.Net.Signed

Next is signing my project ...

[2018-05-26 09:51] tonysneed commented on #9
Resolved by #18. Published to NuGet: https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/1.0.0-rc2

[2018-05-26 09:51] #9 closed

[2018-05-26 10:05] tonysneed commented on #13
I'll re-open if necessary.

[2018-05-26 10:05] #13 closed

[2018-05-26 12:15] tonysneed commented on #14
Resolved by #19. See [here](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/pull/19#issuecomment-392257554).

[2018-05-26 12:15] #14 closed

[2018-05-26 12:15] tonysneed commented on #16
Resolved by #19. See [here](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/pull/19#issuecomment-392257554). /cc @TheDarkBoz

[2018-05-26 12:15] #16 closed

[2018-05-26 12:27] tonysneed commented on #11
Resolved by #20.

[2018-05-26 12:27] #11 closed

[2018-05-26 12:36] tonysneed commented on #11
Published here: https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/1.0.0-rc3

[2018-05-26 12:37] tonysneed commented on #14
Included with RC3 release.

[2018-05-26 12:37] tonysneed commented on #16
Included with RC3 release.

[2018-05-26 12:41] ErikEJ commented on #11
OMG - I can't keep up ! 😄

[2018-05-27 13:05] andredahlqvist opened #23 "NullReferenceException in CheckOutputFiles"
I'm using .NET Core 2.1.300-rc1-008673 and have updated to 1.0.0-rc3 of EntityFrameworkCore.Scaffolding.Handlebars. I get the following NullPointer when trying to scaffold from an existing database. I have previously used 1.0.0-beta together with .NET Core 2.0 and have successfully scaffolded using the same database.

Unable to generate entity type for table 'dbo.SavedRadioButtons'.
The column 'db

[2018-05-27 15:43] tonysneed commented on #23
Does the `dotnet ef dbcontext scaffold` command throw an exception without including the `ScaffoldingDesignTimeServices` class in your project?  It looks like the error is thrown by EF Core and has nothing to do with the Handlebars templating add-in.

From the message it looks like you simply need to make the IsActive property nullable in both the database and your model.  If you still have proble

[2018-05-27 15:43] tonysneed commented on #12
@ErikEJ Did the demo repo address your issue?

[2018-05-27 15:50] ErikEJ commented on #12
It did indeed, have just released new Power Tools with 2.1 RC1 reverse engineering and Handlebars support

[2018-05-27 15:50] #12 closed

[2018-05-27 16:27] tonysneed commented on #23
Would you be able to post a repo to GitHub so I can step through the code?

[2018-05-27 16:31] andredahlqvist commented on #23
Unfortunately the code as well as the database belongs to my employer so I cannot share that. Is there a way I can enable tracing or debug this myself?

[2018-05-27 17:13] tonysneed commented on #23
Let me ask @bricelam: Is there a way to attach the VS debugger to the process running the `dotnet ef dbcontext scaffold` command so that we can set breakpoints and step through the code?

@andredahlqvist Could you provide a sample that reproduces your issue but does not use anything proprietary?

[2018-05-27 17:55] andredahlqvist commented on #23
Sure, I will try to narrow it down.

[2018-05-28 01:10] bricelam commented on #23
To debug, add a call to Debugger.Launch() in somewhere in your code, e.g. in IDesignTimeServices.ConfigureDesignTimeServices()

[2018-06-02 20:11] andredahlqvist commented on #23
Sorry for the delay. Here is a repository that shows how to reproduce the crash. Instructions in the README.md file.

https://github.com/andredahlqvist/crashhandlebars

[2018-06-02 21:18] tonysneed commented on #23
I’ll debug this to what’s happening.

[2018-06-03 11:39] tonysneed commented on #23
@andredahlqvist There is something wrong with the bak file in your project. After restoring I don't see any tables, and when I try to create a database diagram it says I don't have permission.

Instead of a bak file, can you instead provide a SQL script to create the table?

[2018-06-03 11:57] andredahlqvist commented on #23
@tonysneed  Actually that's on purpose. I noticed that it didn't matter which tables I had in the database, I could even reproduce it without any tables.

[2018-06-03 12:01] tonysneed commented on #23
So you're trying to reverse engineer a table that doesn't exist in the database?

[2018-06-03 12:04] andredahlqvist commented on #23
@tonysneed I realize that's silly, and it may not be the same crash as I saw when I was actually running against a database with tables, but I assumed the crash could actually be unrelated to the reverse engineering part. Either way, it shouldn't crash when the table you are pointing to doesn't exist.

[2018-06-03 12:07] tonysneed commented on #23
I thought you were reproducing the original error, which took place with a table that has a column with a default constraint?

[2018-06-03 12:09] andredahlqvist commented on #23
Like I said, it happens no matter what table I try it on. If it makes you feel happier I can send you a bak file with a random table that it crashes on.

[2018-06-03 12:13] tonysneed commented on #23
I'm just trying to understand how to reproduce the issue.  From what you're saying, I simply need to try to reverse engineer a table that does not exist in the database using `ReverseEngineerOptions.EntitiesOnly`.  Is that correct?

[2018-06-03 12:14] andredahlqvist commented on #23
It does crash if I do that and that's the simplest testcase I could come up with. That's why I wrote those instructions in the README.md.

[2018-06-03 12:17] tonysneed commented on #23
OK so the expected result should be the message: `Unable to find a table in the database matching the selected table dummy.`

[2018-06-03 12:18] andredahlqvist commented on #23
Yeah, that's what I wrote in the README.md:

You should receive the following stack trace:

Unable to find a table in the database matching the selected table dummy. System.NullReferenceException: Object reference not set to an instance of an object. at Microsoft.EntityFrameworkCore.Scaffolding.Internal.ReverseEngineerScaffolder.CheckOutputFiles(ScaffoldedModel scaffoldedModel, String outputDir, B

[2018-06-03 12:20] tonysneed commented on #23
OK, I was confused because in your original post you were not specifying a table.  Were you able to resolve that issue?

[2018-06-03 12:21] andredahlqvist commented on #23
The crash happens in the same method so I believe this is the same issue.

[2018-06-03 12:28] andredahlqvist commented on #23
Feel like I'm repeating myself: it happens no matter what table I try it on, i.e. existing tables too.

[2018-06-03 12:31] tonysneed commented on #23
I understand now.  Your repro would be clearer if you would not introduce the variable of the non-existent table.

[2018-06-03 19:01] #23 closed

[2018-06-03 19:01] tonysneed commented on #23
Fixed by PR #24.  I'll include this with release v1.1.0.

[2018-06-03 19:50] tonysneed commented on #23
Release here: https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/releases/tag/v1.1.0
Package here: https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/1.1.0

[2018-06-14 18:33] jorgegarmilla opened #25 "Could not load file or assembly 'Handlebars, Version=1.9.4.0"
In step 5 I receive exception described below. I am using ASP Core 2.1....

System.IO.FileLoadException: Could not load file or assembly 'Handlebars, Version=1.9.4.0, Culture=neutral, PublicKeyToken=22225d0bf33cd661'. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044)
File name: 'Handlebars, Version=1.9.4.0, Culture=neutral, PublicKeyToken=22225d0bf33cd661' ---> System.IO.

[2018-06-14 18:44] jorgegarmilla commented on #25
I installed nuget package "Handlerbars.Net" (v 1.9.4) but it still happens

[2018-07-15 19:07] Perlkonig opened #29 "Extend OnModelCreating with Partial Method"
This library is *the bomb*! This has greatly simplified my database-first workflow. Thank you!

I want to add some code at the end of the generated `OnModelCreating` function (to deal with DateTime kinds). Is there a way to add that to the template? In `DbContext.hbs` I see `{{{on-model-creating}}}`, but I'm not clear on if there's a way to extend or add to that.

Or is there a way to add a `.HasC

[2018-07-18 10:06] skriebi opened #30 "Property names with special characters (ä,ö,ü) are converted to unicode strings"
Hello,

some of the columns in our database contains special characters (ä,ö,ü).
The characters are converted to `&#228;`, `&#246;` or `&#252;` unicode strings.

To solve the issue for me, I have created a hbs-helper, which simple writes the property-name with the WriteSafeString-Method of the TextWriter.

Helper registration:
[code]
Usage in templates:
`{{f-pn property-name}}`

I think, the prope

[2018-07-18 18:06] ufetahu opened #31 "AddHandlebarsHelpers not working"
I've been trying to generate comments using helpers but it's not working (unlike comments added in .hbs like //comment). Its almost like if the Helper method is not being called. Also, if there is way to check the property name within i.e.:
 if(parameter == "CreatedOn"){
    writer.write("//")
}
Using
   <TargetFramework>netcoreapp2.1</TargetFramework>

[2018-07-20 23:01] tonysneed commented on #25
Are you getting this error with the latest version?

[2018-07-20 23:15] tonysneed commented on #29
`{{{on-model-creating}}}` just adds the entire method that is generated by EF Core scaffolding.

I think the easiest way to deal with this scenario is for you to create a partial `DbContext` derived class, then include the `OnModelCreating` override there and do whatever you need to do.

If, however, you want to generate the code for this method, then extend `HbsCSharpDbContextGenerator` in a NET

[2018-07-20 23:27] tonysneed commented on #30
You should add your helper like so:

[code]

See [here](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/master/sample/ScaffoldingSample/ScaffoldingDesignTimeServices.cs).

Perhaps you should open an issue on [Handlebars.Net](https://github.com/rexm/Handlebars.Net), since the templates should use `WriteSafeString`?  I recommend that, because it would solve the p

[2018-07-21 04:17] Perlkonig commented on #29
Thanks for your help! So if I understand what you're saying, I should create a non-scaffolded partial `DbContext` class that inherits from the scaffolded one. And in that derived class's `OnModelCreating` function, call the `base` one that was scaffolded and then just drop my date handling code in after that. I don't know why I didn't think of that before. Thanks so much!

[2018-07-21 13:16] tonysneed commented on #29
Actually partial classes do not involve inheritance. The two .cs files are just one class, so the class name needs to be the same in both files and include the partial keyword. See http://www.tutorialsteacher.com/csharp/csharp-partial-class

[2018-07-21 16:40] Perlkonig commented on #29
But in this case there will be two `OnModelCreating` functions, no? The one scaffolding creates and the one that adds the date handing? I assumed that wasn't permissible.

I inherited for now and it works, but if there's a better way, I want to learn it! I'm still new to the ways of .NET. Thanks again.

[2018-07-21 19:36] tonysneed commented on #29
OK so then you should use a partial method that is called from the generated OnModelCreating method and implemented in your partial class. See the article I referenced earlier. That is the proper way to accomplish what you want to do.

[2018-07-21 19:41] tonysneed commented on #29
Of course for that we would need to modify code generated for OnModelCreating.  So in the meantime your workaround should suffice.

[2018-07-21 19:54] Perlkonig commented on #29
Many thanks.

[2018-07-23 20:01] ufetahu commented on #31
Hi Anthony,

Thank you for your reply. Attached you will find the ScaffoldingDesignTimeService.cs, DBContext.hbs and the results received from scaffolding in ChronDbContext.cs.

As far as my second question I was thinking whether it’s possible to check the property name within the helper itself, such as:

        void MyHbsHelper(TextWriter writer, object context, object[] parameters)
        {

[2018-07-31 20:04] ErikEJ commented on #30
Reported here: https://github.com/ErikEJ/EFCorePowerTools/issues/77

[2018-07-31 20:05] ErikEJ commented on #30
EF Core team (and I) use UTF8 encoding...

[2018-07-31 20:56] Goldman1337 opened #32 "constructors missing"
in advance, sorry about my bad english:

it seems like the constructor code is missing when scaffolding.

the code i'm talking specifically is this one
[code]
(in this example "SanitariosContext" is my dbcontext name)

[2018-08-22 09:28] Vizehase commented on #31
I can confirm that issue. I had the same problem when trying to include my own helpers. The method AddHandlebarsHelpers does not seem to find the internal collection in order to append the given helper to it. I succeeded by installing the helpers altogether myself by
`            // Register Handlebars helper
            services.AddHandlebarsHelpers(myHelper); // does not work but the following

[2018-08-22 09:58] Vizehase opened #33 "More information for Handlebar Helpers"
I have just written Handlebar Helpers in order to place our own naming conventions (we have some special prefixes in DB names for tables and columns I don't want to see in the entities) and for including some converters for properties of a special data type, i.e. we use a DB data type named "Boolean" which is in fact a char(1) containing 'N' for false and 'J' for true (the German Ja/Nein for yes/n

[2018-08-22 10:23] Vizehase opened #34 "Easier custom renaming of entities and properties"
I have written Handlebars helpers for our special naming conventions. It turned out that renaming the navigation properties was pretty hard because I had to split the pregenerated names and repeat the renaming on the individual parts of the name.
A feature for giving two conversion methods would be very handy such as `string CreatePropertyName(string)` which takes the original field name (e.g "c_f

[2018-10-06 16:45] vertonghenb opened #35 "[Feature] Customize Classnames"
In some cases the database tables are prefixed with something like "tbl" it would be nice to remove this kind of prefixed in the classname of the generated entities.

[2018-10-16 14:45] newsoftinc opened #36 "ScaffoldingDesignTimeServices not loaded"
Running the latest nuget on a new .net core projet.

Running SDK :
PM> dotnet --version
2.1.403

Services class :

`using System;
using System.IO;
using Microsoft.EntityFrameworkCore.Design;
using Microsoft.Extensions.DependencyInjection;

namespace EFCoreScaffold
{
    public class ScaffoldingDesignTimeServices : IDesignTimeServices
    {
        public void ConfigureDesignTimeServices(IServiceCo

[2018-10-19 11:41] newsoftinc commented on #36
Hello, I can also confirm that the debugger steps in the ScaffoldingDesignTimeServices by attaching the debugger to dotnet executable. Could you give us a hint ? I need handlebars for my migration from ef6 to core. I can debug the issue. It seems like the helper is not detected / invoked, because debugger never step in the helper function. Where does the helpers get resolved, when the handlebar pa

[2018-10-19 12:29] newsoftinc commented on #36
Ok so your wrapping method, services.AddHandlebarsHelpers(myHelper) , over  HandlebarsDotNet.Handlebars.RegisterHelper , does not register the templates in handlebar.

Adding nuget ref to handlebar, and directly add the template, fix the issue.
            HandlebarsDotNet.Handlebars.RegisterHelper("my-helper", MyHbsHelper);

Why do you make additionnal plumbing over the native call? Only plus I s

[2018-10-29 15:49] meurig commented on #29
I had the same requirement for extending OnModelCreating.

I ended up replacing the last three lines of the generated DbContext class with the following:
[code]

As suggested here: https://github.com/ErikEJ/EFCorePowerTools/issues/20

I'm currently doing this with a powershell script which gets run after the scaffolding, but it would be great if these lines could be added to the GenerateOnModelCre

[2018-11-12 14:50] meurig opened #37 "Is there any way to turn on suppressConnectionStringWarning option?"
I can see that GenerateOnConfiguring takes a very useful looking option: suppressConnectionStringWarning, which prevents a warning (That I'm trying to suppress) from being written.

But, the IServiceCollection.AddHandlebarsScaffolding method that I'm using doesn't appear to take any such option.

Is there another way that I'm missing to get that option turned on?

Many thanks!

[2018-11-24 10:15] noufionline opened #38 "How to use EnumToNumeric Converter with Handlebar?"
Is there any way we can configure the converter with the handlebar?

[2018-12-12 18:13] ErikEJ opened #39 "Need version for EF Core 2.2"
Hi, I am updating EF Core Power Tools for EF Core 2.2 - are you able to provide a 2.2 version (I have had to disable this for now)

[2018-12-12 22:06] tonysneed commented on #39
Happy to update to 2.2.

[2018-12-17 17:20] tonysneed commented on #39
Resolved by #40. Thanks @ErikEJ!

[2018-12-17 17:20] #39 closed

[2018-12-17 17:22] ErikEJ commented on #39
Great - has it been published?

[2018-12-17 17:24] tonysneed commented on #39
Just published! https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/1.6.0

[2018-12-17 19:20] ErikEJ commented on #39
Now included in latest daily for EF Core 2.2 reverse engineering - thanks!

[2018-12-17 20:01] tonysneed commented on #25
This should be fixed in the current version. Otherwise, please re-open.

[2018-12-17 20:01] #25 closed

[2018-12-17 20:13] tonysneed commented on #30
@ErikEJ What do you think I should do to fix this?

[2018-12-18 09:49] ErikEJ commented on #30
It looks like a Handlebars issue to me...
https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/master/src/EntityFrameworkCore.Scaffolding.Handlebars/Internal/FileSystemFileService.cs#L65

[2018-12-22 11:18] jorgegarmilla commented on #25
Thanks Tony. It worked as expected... reading what has been generated. Looks really good ;-)

[2018-12-27 20:44] tonysneed commented on #30
Confirmed this is a Handlebars.Net issue. There needs to be a way to suppress HTML encoding. See [Issue 276](https://github.com/rexm/Handlebars.Net/issues/276) there.

[2018-12-30 18:23] #31 closed, assigned to nobody

[2018-12-31 16:45] tonysneed commented on #32
@Goldman1337 So sorry for missing your question.  The presence of one constructor is by design.  The parameterless constructor is not needed because the context is created only via dependency injection, which supplies the context options.

Feel free to re-open if you would like to discuss further.  Cheers!

[2019-01-01 18:28] tonysneed opened #43 "Context and Entity Generators: Change private members to protected"
Update `HbsCSharpDbContextGenerator` and `HbsCSharpEntityTypeGenerator` to change visibility of `private` members to `protected`.

Related to #33.

[2019-01-01 20:15] tonysneed commented on #34
@Vizehase Thanks for your question. Again, I apologize for having missed it. To open up the entity conversion process, I could create an `IEntityTypeConversionService` interface with an `HbsEntityTypeConversionService` implementation that just returns the given input. I could then refactor the `AddHandlebarsScaffolding` method to accept an optional parameter for the conversion service.

To answer

[2019-01-01 20:17] tonysneed commented on #35
@vertonghenb We are working on a solution to this in #34.

[2019-01-01 20:19] tonysneed commented on #36
This appears to be a duplicate of #31, which as been fixed by #42.

[2019-01-02 14:42] #36 closed

[2019-01-02 14:43] #35 closed

[2019-01-02 14:55] tonysneed commented on #37
Sorry for my late response. The EF Core CLI does not appear to have a flag in the `dotnet ef dbcontext scaffold` command for suppressing the connection string warning.  However, the easiest way to do this is simply to remove `{{{on-configuring}}}` from the **DbContext.hbs** file.

[2019-01-02 15:33] tonysneed commented on #38
@noufionline Sorry for my slow response. I assume you are referring to [EF Core Value Conversions](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions), which can be defined in the `OnModelCreating` method of the `DbContext` class.  In this case you need to inject code into the `OnModelCreating` method.  The way this is traditionally done is via [partial methods](https://docs.micro

[2019-01-02 16:19] tonysneed opened #44 "Update unit tests for EF Core 2.2"
Update expected output for unit tests to match what is generated for EF Core 2.2.

[2019-01-02 16:42] tonysneed commented on #44
Expected output ok.

[2019-01-02 16:42] #44 closed

[2019-01-02 16:45] #43 closed

[2019-01-03 02:37] tonysneed commented on #33
@Vizehase I changed the private members of x to make them `protected`. See PR #45 Change generators private members to protected (fixes #43).

Also, my answer here may help you: #38 How to use EnumToNumeric Converter with Handlebar.

[2019-01-03 19:04] tonysneed commented on #34
Resolved by #47.

[2019-01-04 17:43] tonysneed commented on #35
Resolved by #47 and released in v1.7.0.  Enjoy!

[2019-01-04 17:44] tonysneed commented on #36
@newsoftinc This has been fixed in v1.7.0.

[2019-01-04 17:45] tonysneed commented on #31
@ufetahu @Vizehase @IulianParaian This has been fixed in v1.7.0.

[2019-01-04 17:52] tonysneed commented on #29
@meurig Re-opening this issue as a feature request for adding a partial method to `OnModelCreating` in the `DbContext` class.

[2019-01-04 17:58] tonysneed commented on #32
@Goldman1337 Just realized I misread your question. :)  I'll add the second constructor.

[2019-01-05 13:34] #29 closed

[2019-01-05 19:53] tonysneed commented on #38
I updated the latest version and sample to include this scenario.  Feel free to re-open this issue if you have further questions.

[2019-01-05 19:54] tonysneed commented on #37
Please re-open if this does not answer your question or if you have further questions.

[2019-01-05 19:54] #37 closed

[2019-01-05 19:55] tonysneed commented on #34
This is included in [v1.7.1](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/releases/tag/v1.7.1). Please re-open this issue if you have further questions.

[2019-01-05 19:55] #34 closed

[2019-01-05 19:55] tonysneed commented on #33
This is included in [v1.7.1](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/releases/tag/v1.7.1). Please re-open this issue if you have further questions.

[2019-01-05 19:55] #33 closed

[2019-01-21 10:45] noufionline commented on #38
Hi @tonysneed,
Thanks a lot. My requirement is I have a PaymentStatus field which is int in SQL Server but in the model generated I wanted as an Enum. How is that possible while reverse engineering?

[2019-01-22 00:06] tonysneed commented on #38
@noufionline The conversion then needs to be between an `int` and your `enum`.  For example:

[code]

[2019-01-22 14:25] tonysneed commented on #38
@noufionline Let me know if this answers your question. Be sure to check out the [sample](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/master/sample/ScaffoldingSample/Sample.ReadMe.md) in this repository.

[2019-01-23 18:04] noufionline commented on #38
Hi @tonysneed ,

I think I was not clear with my question. I want the reverse engineered model to have enum property instead of int property.

instead of

public int OrderStatus {get; set} should be public OrderStatusEnum OrderStatus {get; set;}

Hope it helps.

Thanks in Advance.

Noufal

[2019-01-23 18:22] tonysneed commented on #38
Yes, this is what the sample illustrates. Have you looked at it?

[2019-01-29 12:41] noufionline commented on #38
Thank you so much @tonysneed. This is what exactly I wanted. Much appreciated.

[2019-01-30 23:18] #38 closed

[2019-03-05 12:47] rothariger opened #56 "a couple of questions?"
hi,

first and simple, is there any way of debugging this? i couldn't find any way... :(

second, i want to create views and webapis, for simple crud pages, could i use this for that purpose?

regards.

[2019-03-05 13:51] tonysneed commented on #56
In your IDesignTimeServices implementation, simple add Debugger.Launch(). With ReSharoer you can then decompile and step right into the source code. Or you can use their free dotPeek tool, or simply clone the repo and reference the source code directly.

[2019-03-13 15:38] ExusAltimus opened #57 "Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.3.0,..."
I'm using efcore 2.2.3 and requires System.Diagnostics.DiagnosticSource >= 4.5.0

`System.IO.FileLoadException: Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.
0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'. The located assembly's manifest definition does not
 match the assembly reference. (Exception from HRESULT: 0x80131040)
File name: 'System.Diagnostic

[2019-03-13 15:40] ExusAltimus commented on #57
nvm
https://github.com/aspnet/EntityFrameworkCore/issues/7889

[2019-03-13 15:40] #57 closed

[2019-03-29 13:48] Vizehase commented on #33
@tonysneed Sorry for the delay. Thank you very much for this approach! I hope it will help someone. In the meantime we have moved to geco (Generator Console) because it gives us full control over the output.

[2019-04-04 00:21] dharmaturtle commented on #34
I wanted to append "Entity" to my entity's type names, so here's the code I used for that.

[code]

[2019-05-01 15:33] wjensen opened #58 "Additional code scaffolding question"
I am interested if there is a suggested pattern for extending model code generation to produce additional files beyond the DbContext and entities? For example I would like to scaffold repositories. TIA!

[2019-05-01 18:47] tonysneed commented on #58
@wjensen I believe this may be what you're looking for: [URF.Core.ApiControllers.Templates](https://github.com/urfnet/URF.Core.ApiControllers.Templates).  Instructions are [here](https://github.com/TrackableEntities/AspNetCore.ApiControllers.Templates).

This will scaffold API controllers that inject a unit of work interface with access to repositories. This is based on [URF.Core](https://github.c

[2019-05-01 18:52] wjensen commented on #58
Thanks for getting back to me. That's not quite what I am looking to do. I am looking to create a file for each entity type during scaffolding like:
[code]

Does that make sense?

[2019-05-01 19:11] tonysneed commented on #58
It all depends on what you are trying to accomplish. You could go about it a couple of different ways. The most simple might be to create a set of hbs templates for the extra files. Another might be implementing your own custom scaffolder. Can you describe more of the motivation of what you’d like to do?

[2019-05-01 20:30] wjensen commented on #58
I am looking to auto-generate repositories (boilerplate) for entities which are not lookups (500 or so) and for lookups, each entity will have auto-generated a constants class mapping the PK value to the lookup value.

[2019-05-01 23:46] tonysneed commented on #58
I would recommend creating a different project for each of the file types you want to generate. Then add the `Class.hbs` file to generate your repository class. If this does not work for you, your next option would be to create your own implementation of `ICSharpEntityTypeGenerator` with a `WriteCode` method that generates your desired code. You would then implement `IDesignTimeServices` to regist

[2019-05-02 17:28] tonysneed commented on #58
Can re-open if you wish to continue the discussion.

[2019-05-02 17:28] #58 closed

[2019-05-08 18:33] Alfetta159 opened #59 "Doesn't seem to work with .NET Standard"
And I realize that the instructions say to create a .NET Core dll, but I prefer .NET Standard if my assembly isn't a .NET Core web app. I typically have an API (.NET Core) project and a Data (.NET Standard) project and if I need scaffolding or data migrations, I just point to the API project as the start up. So this is more of a feature request. Or am I doing something wrong?

[2019-05-08 19:08] Alfetta159 opened #60 "Adding base class to model"
Do I have to code for each model to add the same base class to all my models?

[2019-05-08 19:39] #56 closed

[2019-05-08 19:45] tonysneed commented on #59
.NET Core is required by the EF CLI you use on the command line. You can use .NET Standard if you use the EF Core Power Tools, but that doesn’t support some features of my scaffolding tools, such as Handlebars Helpers. For those you need to use the EF Core CLI and then just change the project type afterwards to .NET Standard, which is less than ideal.

[2019-05-08 19:47] tonysneed commented on #60
Don’t understand your question. Can you re-phrase or give an example?

[2019-05-08 20:21] Alfetta159 commented on #59
I don't use EF Core Power Tools, and I use the EF Core CLI all the time to scaffold existing dbs and generate migrations from code in .NET Standard projects. I agree the .NET Core is required, and that's what I meant by setting the start up to another project to one that is a .NET Core dll/app. Again, I don't mean to say this is a bug, it would just be nice. I've decided to go w/ an approach that

[2019-05-08 20:36] tonysneed commented on #59
.NET Core is a requirement of the EF Core CLI, not my library. So there is nothing I can do about it.

[2019-05-08 20:44] #59 closed

[2019-05-28 15:34] amilarox1 opened #61 "How to check table name in propertyTransformer"
Hi,

Thanks for this great library.

Taking the example you've given in the README, is there a way to detect the table it's running on?

`services.AddHandlebarsTransformers(
            propertyTransformer: e =>
                e.PropertyName == "Country"
                    ? new EntityPropertyInfo("Country", e.PropertyName)
                    : new EntityPropertyInfo(e.PropertyType, e.PropertyN

[2019-05-28 16:48] tonysneed commented on #61
Your best bet I think is to create a class that extends `HbsCSharpEntityTypeGenerator` and then override the `GenerateProperties` method. This method accepts an `IEntityType`, which has all the info you need, including the name of the entity that corresponds to the db table name. Start by copying code from the base [GenerateProperties](https://github.com/TrackableEntities/EntityFrameworkCore.Scaff

[2019-05-28 20:10] tonysneed commented on #61
If you decide this approach works for you, you'll have a class like so:

[code]

Then you'll need to register the class with the DI system, by adding code to your `ScaffoldingDesignTimeServices` class, like so:

[code]

Hope this helps!

[2019-05-28 20:14] amilarox1 commented on #61
Thanks for the detailed response @tonysneed, I'll report back after trying this.

[2019-05-28 20:40] tonysneed commented on #60
Closing for now. Please re-open if you wish to follow up.

[2019-05-28 20:40] #60 closed

[2019-05-29 13:13] amilarox1 commented on #61
That worked like a charm, had to take nullable into account when changing the type.

    private string GetPropertyType(IEntityType entityType, IProperty property)
        {
            var propertyType = CSharpHelper.Reference(property.ClrType);
            var newPropertyType = propertyType;
            var propertyName = property.Name;

            switch (propertyName)
            {

[2019-05-29 21:25] tonysneed commented on #61
Glad it worked!

[2019-05-29 21:25] #61 closed

[2019-06-27 13:00] omatrot opened #65 "[Feature request] Allow to pluralize collection property names"
I may be wrong but I did not find an option to pluralize the collection property names in Many to One relationships.

[2019-06-27 13:02] omatrot opened #63 "Duplicate import directives when entity has several relationships to the same entity."
I have several tables in my database that with several foreign keys to the same table.
The generated Typesript entity then has the same entity imported several times.

[2019-06-27 13:29] omatrot opened #64 "[Guidance] How to properly desierialize entity graphs coming from the server?"
I see two potential problems:
1/ Entities on the server are pascal cased on the server while camel cased on the client.
2/ What about object references looping and duplicates?

I suppose the other way around there is something to do too.

[2019-06-27 14:53] tonysneed commented on #63
I should be able to fix this.

[2019-06-28 07:23] omatrot commented on #64
Dcerialize works only with annoted properties.

`        //unannotated properties are not serialized or deserialized, they are totally ignored
`
That would be problematic right now.

I assume that entities constructors must be called for the whole tracking to work properly ?

[2019-06-28 11:37] omatrot opened #66 "Generated entities extends ObservableEntity instead of TrackableEntity"
Unless there is an option to specify that I'm unaware off, the TypeScript template generates entities that extends ObservableEntity.

Shouldn't it generate entities extending TrackableEntity?

[2019-06-28 12:03] tonysneed commented on #66
Are you using [TrackableEntities.Core.Templates.TypeScript](https://github.com/TrackableEntities/TrackableEntities.Core.Templates.TypeScript) (and not [ObservableEntities.Core.Templates.TypeScript](ObservableEntities.Core.Templates.TypeScript))?

[code]

The generated entities should extend `TrackableEntity`.

[code]

[2019-06-28 12:05] tonysneed commented on #64
Can you update the hbs templates to include the annotations?

Yes, you need the ctor to return `super.proxify(this)`.

[2019-06-28 12:13] omatrot commented on #66
Sorry, you're right, I used dotnet new oe-template-typescript.

[2019-06-28 12:13] #66 closed

[2019-06-28 13:02] omatrot commented on #64
I'm afraid I'll need to do that, will start by modifying a few entities though.

I may be wrong, but standard JSON deserialization will not call constructors, so Dcerialize should be used as it will call them.

[2019-06-28 13:07] tonysneed commented on #64
The ctor does not need to be called during serialization. Rather it's called in the client (SPA) app to set the `ITrackable` properties, which are themselves serialized.

[2019-06-28 13:30] omatrot commented on #64
I'm talking about deserialization on the client indeed.

[2019-06-28 14:02] tonysneed commented on #64
You should be fine then.

[2019-06-28 14:43] omatrot commented on #64
Right now I'm using standard JSON deserialization on client (Javascript).
Change tracking is not working, despite setting tracking to true, because of the missing call to the entity constructor during deserialization.

I guess I need to use Dcerialize for the constructors to be called and change tracking to work properly

[2019-06-28 15:03] tonysneed commented on #64
Ah yes, I believe Dcerialize will help then.

Otherwise you would need to call the Proxify method on deserialized entities.

[2019-06-30 15:48] Jehoel opened #67 "Update the EF Core 3.0"
I'm attempting to use this with EF Core 3.0 Preview 6 and I get this error in the Package Manager Console when I run `dotnet ef scaffold`. I know you don't advertise compatibility with EF Core 3.0, but I thought I'd file this so you're aware:

* Visual Studio 2017
* .NET Core 2.2 class-library project
* My project references:

        Bricelam.EntityFrameworkCore.Pluralizer        1.0.0
        En

[2019-07-01 12:52] tonysneed commented on #67
Thanks, glad to have an issue for porting to EF Core 3.0. Looks like it needs a DI registration. I’ll create a PR for the port.

Cheers,
Tony

[2019-07-02 08:44] rumesh-smec opened #68 "**System.NotImplementedException: The method or operation is not implemented.**"
I am tring to implment this for .net core 2.2 project. But getting System.NotImplementedException. Any idea?

**System.NotImplementedException: The method or operation is not implemented.**
   at Microsoft.EntityFrameworkCore.Scaffolding.ProviderCodeGenerator.GenerateUseProvider(String connectionString)
   at EntityFrameworkCore.Scaffolding.Handlebars.HbsCSharpDbContextGenerator.GenerateOnConfigur

[2019-07-02 12:30] tonysneed commented on #68
I need more information on what you are trying to do.

[2019-07-02 16:26] tonysneed commented on #67
Looks like there is quite a bit of drift between v3.0.0-preview6 and the EF Core master branch, so I think I'd like to hold off on migrating Handlebars scaffolding until EF Core RC drops later this month (July). Stay tuned! :)

[2019-07-03 01:59] rumesh-smec commented on #68
Thanks for your reply. I was tring to generate classes for my database at first place without any customizations, just following the steps metnioned here https://blog.tonysneed.com/2018/05/27/customize-ef-core-scaffolding-with-handlebars-templates/

The only diffrence is my database is hosted in Azure.

I will need to dig in to futher to give you more information. Will share any information if I a

[2019-07-03 03:15] tonysneed commented on #68
Can you generate entities without adding Handlebars?

[2019-07-03 03:18] rumesh-smec commented on #68
Yes of course.

[2019-07-03 08:52] omatrot opened #69 ""if eq" support in templates"
I'm trying to customize the provided templates in order to integrate dcerialize.
It seems to me that I can't test for a simple equality to customize the generated code:

[code]
The template does not compile:

[code]

I think I've uderstood that this is because I need to register a helper because [the built-in helpers](http://handlebarsjs.com/builtin_helpers.html) just works for true or false evalu

[2019-07-03 12:55] tonysneed commented on #69
What you need to do is copy and rename [TypeScriptHelper.cs](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/master/src/EntityFrameworkCore.Scaffolding.Handlebars/TypeScriptHelper.cs). Just update the `TypeName` method to return desired TypeScript types as strings.

Then in your `ScaffoldingDesignTimeServices` class after calling `AddHandlebarsScaffolding`, reg

[2019-07-03 13:03] omatrot commented on #69
Thanks for that I'll see what I can do.

[2019-07-03 13:03] #69 closed

[2019-07-03 13:56] tonysneed commented on #68
So you do not have a `ScaffoldingDesignTimeServices` in your project?

[2019-07-03 13:58] tonysneed commented on #68
Can you paste here the `dotnet ef` command you are using?

[2019-07-04 02:23] rumesh-smec commented on #68
Please refer below. I removed the full connection string. Other paramters are same. I have 10+ tables, but I need only one table to generate, so I am passing the -t parameter. This same cammned works when I removed the ScaffoldingDesignTimeServices class from the project.

`dotnet ef dbcontext scaffold "connection-string" Microsoft.EntityFrameworkCore.SqlServer -o Models -c MyDbContext -t Status`

[2019-07-04 03:20] rumesh-smec commented on #68
FYI - We used the same with PowerTools and it works well.  Thanks for your time on helping this out.

[2019-07-04 12:43] tonysneed commented on #68
What version of the EF Core NuGet packages are you referencing?

[2019-07-04 13:01] tonysneed commented on #68
Do the Power Tools work when you check "Use Handlebars"?

[2019-07-04 13:36] omatrot commented on #64
Calling the proxify method on deserialized entities fails with `Class constructor TrackablEntity cannot be invoked without 'new'`
So I guess I'm stuck unless I have a proxify method that [use Object.create() instead](https://github.com/Diademe/dcerialize/blob/master/src/utils.ts#L24)?

[2019-07-04 13:46] tonysneed commented on #64
Can you paste the code here?

[2019-07-04 13:49] omatrot commented on #64
[code]

[2019-07-04 13:55] tonysneed commented on #64
Does the entity have a constructor?

[2019-07-04 14:00] omatrot commented on #64
Yes:

[code]

[2019-07-04 14:05] tonysneed commented on #64
Does web pack remove the constructor? What happens if you add console.log?

[2019-07-04 14:07] tonysneed commented on #64
Perhaps you could reproduce the issue with a small GitHub repo?

[2019-07-04 14:32] omatrot commented on #64
The constructor is called,
This is the call to `super()`; that throws the error.

But I think this is my fault because I have es5 instead of es2015 in .tsconfig target compiler option.
Setting 'es2015' actually leads to errors because of circular dependencies between my entities.

Didn't you had this problem with your sample ?

[2019-07-04 14:39] tonysneed commented on #64
You can’t use the es5 compilation option because proxies are an es2015 feature that cannot be transpiled to es5.

My sample does not perform deserialization. But I can modify it to do so.

Doesn’t dcerialize solve circular references?

[2019-07-04 14:41] omatrot commented on #64
Yes it does, but here  I'm talking about circular references from the angular point of view:

[code]

[2019-07-04 15:26] tonysneed commented on #64
Two ways to deal with the Angular warning.

1. Set `"showCircularDependencies": false` in your .angular-cli.json file.
2. Put all the entities into a single .ts file. You should be able to do this in .tsconfig.app.json.

[2019-07-05 12:04] omatrot commented on #64
I've pulled all the entities in one single ts file and it solved the warning during compilation.
I'm also back to using ES6 target.

This is going to sound crazy, but everyting is fine until I simply add code using Dcerialize (in my case DeserializeArray). With this code that is not even called yet, the angular module complains that one of my entity cannot be used before being instantiated.

If I'

[2019-07-05 12:26] omatrot commented on #64
https://github.com/angular/angular-cli/issues/14247

[2019-07-05 13:16] omatrot opened #70 "[Guidance] HandleBars Block Helper?"
I'm trying to write a [HandleBars Block Helper](https://github.com/rexm/Handlebars.Net#registering-block-helpers). This seems not supported.

To be more precise, I would like something like [this helper](https://stackoverflow.com/a/47134327/15186).

[2019-07-05 14:26] omatrot opened #71 "Can I know if the entity property is an array in HandleBarsTransformers?"
In order to geneared TypeScript entities annotated with Dcerialize annotations, I need to know if the current entity is an array.
I may be wrong but this information seems not to be available.

[2019-07-05 14:50] tonysneed commented on #64
Sounds like your were able to get past the circular dependencies issue by specifying a single .ts output file. This is the same issue as the Angular bug you mentioned.

The other issue seems like it is specific to Dcerialize, so maybe open an issue there? It seems to have to do with deserializing entities with constructors.

[2019-07-05 14:55] tonysneed commented on #70
Have you tried registering `HandlebarsBlockHelper`? You may need to upgrade Handlebars.Net to the latest package version.

[2019-07-05 15:04] tonysneed commented on #71
What about: `{{#if nav-property-collection}}`?

[2019-07-05 16:32] omatrot commented on #64
Unfortunately, issues are not enabled in the Dcerialize repo :(

[2019-07-05 19:57] tonysneed commented on #64
Maybe check these out? https://stackoverflow.com/a/22245105

[2019-07-09 11:04] omatrot commented on #64
I may be wrong but all are creating simple JSON objects with only properties.
Maybe [this one](https://github.com/mobxjs/serializr/) could do if it understands JSON.NET references

[2019-07-10 11:13] omatrot commented on #64
Ok I've been able to reproduce the problem on your trackable entities sample simply by adding Typescript decorators on entities.

I've ben using [serializr](https://github.com/mobxjs/serializr/) to successfully deserialize entities. I just need to handle JSON.NET refs by myself and deal with arrays that are not supported right now.
It works because there is an API to mimic the decorators to tell h

[2019-07-10 12:23] tonysneed commented on #64
serialzr looks promising. Regarding cycles, you might want to consider creating separate entities for serialization that don’t have cyclical references, using something like AutoMapper (see https://medium.com/ps-its-huuti/how-to-get-started-with-automapper-and-asp-net-core-2-ecac60ef523f). It sounds like Json.Net’s ref format isn’t interoperable.

[2019-07-10 14:53] omatrot commented on #70
I would have to add code to your project to Alter ServiceCollectionExtensions to add a new method.

But, because [Murphy's law](https://en.wikipedia.org/wiki/Murphy%27s_law) is against me all the time, I can't get your solution to load properly in Visual Studio 2017. Net Standard 2.0 is not available in the project target. However creating a new project from scratch works like a charm...

I had en

[2019-07-10 15:08] tonysneed commented on #70
You should use Visual Studio 2019 and install the .NET Core 2.2 SDK.

Feel free to fork my sample repo, then create a new branch. You will then be able to publish the branch and create a pull request. :)

[2019-07-10 19:15] tonysneed commented on #68
I’m having difficulty understanding and reproducing your issue. If you still require assistance, would you please create a small sample and publish it to GitHub so I can clone and see the errors firsthand?

[2019-07-11 08:50] omatrot opened #73 "[Feature request] Allow new partial templates to be registered"
I naïvely added a new template in the partials folder of my project and tried to called it from the Class template.
I receive the following error at runtime:

[2019-07-11 11:02] #71 closed

[2019-07-11 13:39] omatrot opened #76 "[Feature request] Have a way to know that a property is part of the object identifier (PK)"
During TypeScript entities generation, I need to know if a property is part of the object identifier.

I need to tell [serializr](https://github.com/mobxjs/serializr#propschema) by specifiying:

Each navigation property is already always a reference.

It seems that this information may be available during csharp entities generation.

I'll be happy to make a pull request for that feature.
Any furth

[2019-07-11 13:56] #63 closed

[2019-07-11 16:14] omatrot commented on #76
The object identifier is the combination of the column(s) of the primary key.
The type and/or name are not enough.

[2019-07-11 16:40] tonysneed commented on #76
It is in this type of situation that the extensibility of the framework really shines. What you need to do is create a class that inheritance from HbsTypeScriptEntityTypeGenerator,  Then add an is-object-identifier to the data that is surfaced to the handlebars template.

[2019-07-12 08:06] omatrot commented on #76
I see that I can create a class that inherits HbsTypeScriptEntityTypeGenerator but I can't see how it will be used instead of the base class. There must be some method to call in ConfigureDesignTimeServices ?

[2019-07-12 13:19] tonysneed commented on #76
What you'll need to do is register `MyHbsTypeScriptEntityTypeGenerator` in `ScaffoldingDesignTimeServices`, after calling `services.AddHandlebarsScaffolding`, like so:

[code]

[2019-07-12 13:41] omatrot commented on #76
The code runs but now I have my properties with c# types instead of TypeScript types :|

[2019-07-12 13:48] tonysneed commented on #76
You need to use `TypeScriptHelper`. Copy code from `HbsTypeScriptEntityTypeGenerator`.

[2019-07-12 13:52] #76 closed

[2019-07-17 11:55] omatrot commented on #64
serializr has its own ref format that is not suitable to my needs.
I'm afraid I'm stuck, unless I have a way to turn dcerializer decorators into something that works with angular (like the corresponding API that serializ provides).

[2019-07-17 13:54] tonysneed opened #77 "Data Annotations for non-nullable fields include "AllowEmptyStrings" attribute?"
Continuation of this [issue](https://github.com/ErikEJ/EFCorePowerTools/issues/240).

[2019-07-17 15:55] tonysneed commented on #77
@netbitshift The first thing you need to do is create a class in your project that inherits from `HbsCSharpEntityTypeGenerator` and overrides `GeneratePropertyDataAnnotations`, customizing the `RequiredAttribute` that is inserted by EF Core scaffolding.

Then you will add a `ScaffoldingDesignTimeServices` class that implements `IDesignTimeServices` in which you call `services.AddHandlebarsScaffold

[2019-07-17 16:54] tonysneed commented on #73
`SharpTemplateLanguageService` and `TypeScriptTemplateLanguageService` classes would need to be updated to pick up all files in `DbContextPartialsDirectory` and `EntityTypePartialsDirectory`.

Care to submit a pull request? 😄

[2019-07-17 16:56] tonysneed commented on #68
Closing this issue, as I'm unable to reproduce.

[2019-07-17 16:56] #68 closed

[2019-07-17 16:58] tonysneed commented on #65
Closing this for now, since this is something that should be handled by EF Core scaffolding.

[2019-07-17 16:58] #65 closed

[2019-07-17 16:58] omatrot commented on #73
I'll do that tomorrow morning my time.

[2019-07-17 17:00] tonysneed commented on #64
Closing this for now, since best practice is to avoid sending entities over the wire that have cycles and use auto-mapper to handle the data transfer.

[2019-07-17 17:02] tonysneed commented on #30
Closing, as this needs to be fixed by Handlebars.NET.

[2019-07-17 18:45] netbitshift commented on #77
hmmm, well at least its possible, but our workflow needs to stay within the use of the  ef powertools ui and/or the handlebar templates

[2019-07-17 18:47] ErikEJ commented on #77
I suggest you raise an issue in the EF Core repository, I have had several PRs to scaffolding improvements accepted recently.

[2019-07-17 18:50] tonysneed commented on #77
👍for @ErikEJ suggestion to see if the built-in EF Core scaffolding lets you specify the parameter you need.

If not, there are two ways you can use the Handlebars templates. One way is with the EF Core Power Tools, but you will not be able to customize generation at the code level or use Handlebars helpers. The other way is to generate the entities by running `dotnet ef context scaffold` from the

[2019-07-17 18:57] netbitshift commented on #77
Yes @ErikEJ - This does seem more like a EF core issue rather than a tool issue
 and Yes @tonysneed , we were using the command line before we started using powertools.

All this because as is often the case, one or more fields in the Db are marked "not null" but we still want to allow a record to be generated, so those fields where allowed would get an empty string.

It's really sort of a data is

[2019-07-18 07:51] omatrot commented on #64
Just to be clear, [this as nothing to do with circular dependencies](https://github.com/microsoft/TypeScript/issues/27519#issuecomment-487133521).

[2019-07-18 19:32] tonysneed commented on #64
Oh yes, was thinking of another issue. 😄 You [mentioned](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/issues/64#issuecomment-510018382) JSON refs, but those would go away without JSON.NET preserving references to handle cycles.

I imagine using POJO's (Plain Old JavaScript Objects) as DTO's (Data Transfer Objects) would omit a ctor and solve your serialization is

[2019-07-18 19:44] omatrot commented on #64
Why not try it with your tackable entities javascript sample augmented with a Web API sending the initial data and receiving the modified version ?

[2019-07-18 19:54] tonysneed commented on #64
Good idea to update the sample with an API. Let me see if I can find some time to do that.

[2019-07-19 14:19] #70 closed

[2019-07-19 15:02] #77 closed

[2019-08-05 08:58] bludev opened #81 "Unable to resolve service for type IHbsBlockHelperService (NETCORE 2.2, VS2019)"
Hi,
I'm recently update my solution from .NET Core 2.1 to 2.2. I even updated Visual Studio from 2017 to 2019. Now, trying to scaffold my database with:
`Scaffold-DbContext "data source=XXX;initial catalog=YYY;user id=ZZZ;password=QQQ;" Microsoft.EntityFrameworkCore.SqlServer -outputdir Models -context DatabaseContext -force -contextdir Contexts -DataAnnotations`

I'm receiving this error:

The fu

[2019-08-05 12:58] tonysneed commented on #81
Might be a bug. Let me try to reproduce.

[2019-08-05 16:01] #81 closed

[2019-08-05 16:09] tonysneed commented on #81
Fix published to NuGet with [v2.1.1](https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/2.1.1).

[2019-08-06 06:21] bludev commented on #81
Thanks!!!

[2019-08-12 11:11] MyEidos opened #83 "Q: multiple DBs. Each DB with own ScaffoldingDesignTimeServices and templates"
Hi.
It it possible to store multiple DB contexts in one class library independently?
So each DB will have own settings.

[2019-08-13 10:53] MyEidos opened #84 "[Proposal] Add more information about field/entity to propertyTransformer/EntityPropertyInfo"
It is hard and sometimes not flexible to use propertyTransformer because of  luck of information inside method.
It will be great to have next information in  propertyTransformer:
1. Information about current table: name, metadata etc.
2. Information about property in EntityPropertyInfo: metadata etc.

[2019-08-13 11:55] tonysneed commented on #83
This is a question for EF Core, so I would advise posting your question there.

You pass the DB connection string to the dotnet ef command, so you can specify whatever DB you want. However, I think only one design time services class is allowed in a project. I could be wrong, however, so I suggest you post your question on the EF Core repo.

[2019-08-14 09:19] MyEidos opened #85 "[Bug] Transformers work incorrectly."
Steps to replicate:
Add transformers
`services.AddHandlebarsTransformers(
            navPropertyTransformer: e => new EntityPropertyInfo("prefix" +e.PropertyType, e.PropertyName),
            entityNameTransformer: n => "prefix" + n,
            entityFileNameTransformer: n => "prefix" + n);`

Scaffold.

Observe issues in entity constructors:
`        public Cat()
        {
            Paws = new

[2019-08-14 09:22] MyEidos commented on #83
Okay. Thank you.
Solved with independent class library for each DB.
And saving context/entities to another folder.
Like
"$ dotnet ef dbcontext scaffold "" Microsoft.EntityFrameworkCore.SqlServer -o "../EntitiesDir" -c Context -f --context-dir "../Contexts"

[2019-08-14 09:22] #83 closed

[2019-08-14 14:36] tonysneed commented on #84
The transformer methods are, as you point out, limited in terms of what metadata is communicated to the Handlebars template, namely, property name and type. The reason for this is simplicity and performance.

For scenarios where you need to take more control of the transformation process, it is recommended you create a class that extends `HbsCSharpEntityTypeGenerator` and override `GeneratePropert

[2019-08-14 15:30] tonysneed commented on #85
This is working as expected. To update the name of the `Paw` type, you need to specify the `entityNameTransformer` argument of `AddHandlebarsTransformers`. Have a look at how this is done in the [ScaffoldingDesignTimeServices](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/master/sample/ScaffoldingSample/ScaffoldingDesignTimeServices.cs) sample.

[code]

Inste

[2019-08-15 09:55] MyEidos commented on #85
Hi @tonysneed
Thanks for answer.
But I already had "entityNameTransformer".
Please see my example.
Do I miss something?

[2019-08-15 11:49] tonysneed commented on #85
Ah yes, you need to supply the `navPropertyTransformer` argument.

[2019-08-15 12:28] MyEidos commented on #85
Yep. It is an issue. I don't want to change "navPropertyTransformer".

[2019-08-15 12:52] tonysneed commented on #85
Why not?

[2019-08-16 01:27] tonysneed commented on #85
I created a demo project which you can have a look at: https://github.com/tonysneed/HbsTransformersDemo

There I define a [ScaffoldingDesignTimeServices](https://github.com/tonysneed/HbsTransformersDemo/blob/master/HbsTransformersDemo/ScaffoldingDesignTimeServices.cs) class that contains the following code.

[code]

After running the `dotnet ef dbcontext scaffold` command against the [NorthwindSli

[2019-08-16 13:46] tonysneed commented on #84
@MyEidos Have you tried the approach I suggested with extending `HbsCSharpEntityTypeGenerator`? Does it allow you to achieve what you'd like to accomplish?

[2019-08-21 13:39] omatrot commented on #64
Hi @tonysneed.
Did you had any time to look at it ?

[2019-08-21 14:03] tonysneed commented on #64
Haven’t had time for this. @lelong37 Does the URF sample use trackable entities?

[2019-08-21 14:05] tonysneed commented on #85
Closing this as invalid. @MyEidos please let me know if this is not the case.

[2019-08-21 14:05] #85 closed

[2019-08-21 14:06] tonysneed commented on #84
Closing this as resolved. @MyEidos Please let me know if this is not the case.

[2019-08-21 14:06] #84 closed

[2019-08-21 14:07] tonysneed commented on #73
@omatrot Is this resolved?

[2019-08-21 14:08] tonysneed commented on #67
Now that we have EF Core Preview8, I will create a release that aligns.

[2019-08-21 14:13] omatrot commented on #73
No coul'nt find the time to look at it.

[2019-08-21 16:30] Jehoel commented on #67
Great, thanks. I'm itching to get away from EF Core's stock scaffolding asap.

[2019-08-26 00:44] tonysneed commented on #67
Just published the update to EF Core 3.0 Preview8: https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/3.0.0-preview8

[2019-09-04 08:09] omatrot commented on #64
Hi @tonysneed.
I have been in touch with the creator of dcerialize (which is a french guy like me).
He told me to set emitDecoratorMetadata to false and see how it goes. I tried in a fork of your trackable entities js sample, and it seems to work.

I'll try that in my project and get back to you with results.

[2019-09-04 08:18] tonysneed commented on #64
That sounds like great news! If all goes well, why don’t you submit a pull request?

[2019-09-04 14:41] omatrot commented on #64
This works because decorator metata are mandatory for dependency injection in angular <= 7.5.
They are not anymore starting with Angular 8.
I guess I'll close the issue.

[2019-09-04 14:41] #64 closed

[2019-10-08 19:46] ErikEJ commented on #67
FYI: https://github.com/ErikEJ/EFCorePowerTools/issues/268

[2019-10-14 14:29] tonysneed commented on #67
Fixed by #86.

[2019-10-14 14:29] #67 closed

[2019-10-24 00:51] dmayhak opened #89 "DbContext is generated without transformed entity names in OnModelCreating"
First of all, thanks for an awesome tool! I have however found a small issue:

Adding an entityNameTransformer to the services transformers applies the transformed name everywhere EXCEPT for the modelBuilder.Entity<EntityType>(...) lines in OnModelCreating.

Fix can be applied in HbsCSharpDbContextGenerator.cs in the InitializeEntityTypeBuilder() function:

[code]

I am creating a PR for this chan

[2019-11-25 01:13] Hsu-Cheng-Wei opened #91 "Can rename DbSet Name?"
If any possibility to rename DbSet Name of  DbContext, example like below

Schema: master
Table : wheater_data
Expected DbsetName : WheateDataList

        public MyDbContext(DbContextOptions<MyDbContext> options)
            : base(options)
        {
        }

        public virtual DbSet<WeatherData> WheateDataList{ get; set; }

        protected override void OnConfiguring(DbContextOptionsBuil

[2019-12-09 12:42] GregRotman opened #92 "Configuring Base Classes"
I've been using EF Core Power Tools to reverse engineer from a SSDT project's dacpac.  While I was able to configure the handlebars template to generate entities that inherit from a specific base class, I'd like to be able to configure which base class to use based on either a column name that exists, or a configured list of tables (csv, or json file maybe?).  Potentially control creating names th

[2019-12-13 14:20] tonysneed commented on #92
@GregRotman Thanks for patiently waiting for my reply. You can accomplish this by using two recently added features: excluded tables and custom template data. Just run `dotnet ef dbcontext scaffold` for each set of tables corresponding to a specific base class, excluding the other tables.

[code]

Note that you are only generating the entities, not the context. After generating all the entities, t

[2019-12-14 16:18] GregRotman commented on #92
@tonysneed - That makes sense.  I'll give it a try!  Thank you for the guidance!  Is targeting a dacpac as the scaffold source part of this project, or is that something that EF Core Power Tools is doing?

[2019-12-14 17:29] tonysneed commented on #92
Be aware that with this approach you won’t be able to use the EF Core Power Tools. You can customize this way only using the command line to do the scaffolding.

[2019-12-14 18:34] GregRotman commented on #92
Sure, that makes sense.  Can I still scaffold from a dacpac using this approach?

[2019-12-14 18:42] tonysneed commented on #92
Don't know. What are you doing via EF Core Power Tools to accomplish that?

[2019-12-14 18:45] GregRotman commented on #92
Here's a reference to the reverse engineering docs [https://github.com/ErikEJ/EFCorePowerTools/wiki/Reverse-Engineering](url)

The first image shows a 'Choose Data source' and the tool allows either a database, or a dacpac

[2019-12-14 18:56] tonysneed commented on #92
@ErikEJ Can he use dacpac with the EF Core CLI?

[2019-12-14 21:17] tonysneed commented on #92
@GregRotman If you need to use the Power Tools for dacpac, then you won't be able to do any customization via `ConfigureDesignTimeServices`. In that case, you simply need to have different Handlbars templates for each base class you want to use. Then apply them selectively to each set of tables.

[2019-12-15 07:12] ErikEJ commented on #92
Agree, Tony, that seems like the only viable option

[2019-12-15 11:35] GregRotman commented on #92
Thank you Gentlemen!  I greatly appreciate the guidance!

[2019-12-15 11:35] #92 closed

[2019-12-15 21:49] tonysneed commented on #89
Fixed by #90.

[2019-12-15 21:49] #89 closed

[2019-12-15 22:21] tonysneed commented on #91
@Hsu-Cheng-We You'll need to add a `partial MyDbContext` class to your project, then manually add your  `DbSet<WeatherData> WheateDataList` property. Generate the `DbContext` class separately from your entities and exclude the `wheater_data` table. Let me know if this answers your question.

[2020-01-02 04:02] LeDucThang opened #94 "Cannot run reverse engineering in ef core 3 with handlebars"
Enviroment
- dotnet core 3.1
- ef core 3.1
- ef core design 3.1
- handlerbars 3.5.1

[code]
dotnet ef dbcontext scaffold  "data source=.;initial catalog=WeGift;persist security info=True;user id=sa;password=123456a@;multipleactiveresultsets=True;" Microsoft.EntityFrameworkCore.SqlServer -c DataContext  -o Models -f --no-build --use-database-names --json

ERROR
Method 'WriteCode' in type 'EntityFra

[2020-01-02 19:04] dharmaturtle commented on #94
Try my PR: https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/pull/93

[2020-01-05 01:10] JohnGoldInc opened #95 "Method 'WriteCode' does not have an implementation."
Getting following error on TargetFramework netcoreapp3.1; any ideas?

Method 'WriteCode' in type 'EntityFrameworkCore.Scaffolding.Handlebars.NullCSharpDbContextGenerator' from assembly 'EntityFrameworkCore.Scaffolding.Handlebars, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b10b51e7b9be6a2e' does not have an implementation.

   at Microsoft.EntityFrameworkCore.Design.ServiceCollectionExtension

[2020-01-05 12:46] ErikEJ commented on #95
Duplicate of #94

[2020-01-05 12:50] ErikEJ opened #96 "Handlebars no longer works in EF Core Power Tools"
See https://github.com/ErikEJ/EFCorePowerTools/issues/331 - due to breaking changes in EF Core 3.1?

[2020-01-06 02:51] #95 closed

[2020-01-06 03:08] tonysneed commented on #94
Fixed by #97.

[2020-01-06 03:08] #94 closed

[2020-01-06 16:39] ErikEJ commented on #96
Thanks for fixing!

[2020-01-06 16:39] #96 closed

[2020-01-28 21:15] richardcroprecords opened #98 "Transforming Property Names Issue"
When I transform property names the context still refers to the untransformed property.

            services.AddHandlebarsTransformers(
                entityNameTransformer: n => n + "Foo",
                entityFileNameTransformer: n => n + "Foo",
                constructorTransformer: e => new EntityPropertyInfo(e.PropertyType, e.PropertyName + "Foo"),
                propertyTransformer: e =

[2020-02-17 00:52] canuszczyk opened #100 "ValueGeneatedOnAdd for Keys"
It is possible that I'm misunderstanding this, but I believe that sql server identity columns, even when they are keys, should be marked as ValueGeneratedOnAdd().

[2020-03-10 14:16] johngold-onshift opened #101 "Support for C# Nullable Projects"
Hello,
We would like to use Scaffolding Handlebars in a Nullable C# project; as such there needs to be a way to add "?" after fields that are nullable.

To not maintain a fork separately Ideally looking to have a merge of :
https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/pull/99

[2020-03-30 06:39] TryAndErr0r commented on #73
I made a fork wich provide this feature. I am new to github so here is the link i guess?https://github.com/TryAndErr0r/EntityFrameworkCore.Scaffolding.Handlebars/tree/aa2b4a90e0bce7cdedfe1b8c4ed0119ed6ec01bb

It is just a few changes. The idea is that all files in the "Partials" folder can be addressed in the DbContext.hbs and Class.hbs file. If the file name is "Propertiesitem.hbs" it can be call

[2020-04-14 14:43] ErikEJ opened #104 "Runtime error with Turkish culture"
see https://github.com/ErikEJ/EFCorePowerTools/issues/366

[2020-04-14 17:21] ErikEJ commented on #104
Test (brittle, do not commit);

[code]

Fix:
[code]

[2020-04-16 16:48] ErikEJ commented on #104
@tonysneed Any plans for a fix?

[2020-04-18 16:05] #91 closed

[2020-04-18 18:46] tonysneed commented on #104
Fixed! :)

[2020-04-18 18:46] #104 closed

[2020-04-18 21:03] tonysneed commented on #101
Sorry I'm behind on this, but plan to look at this and #99 today.

[2020-04-19 08:04] ErikEJ commented on #104
Great, thanks! will you mention me when an updated Nuget package is published?

[2020-04-19 08:15] tonysneed commented on #104
@ErikEJ Yes I will! Going to merge some PR’a and release a new version to NuGet this weekend.

[2020-04-19 18:02] gejotas commented on #73
I've created a PR containing your code and some improvements.

[2020-04-20 20:14] tonysneed commented on #73
@gejotas I looked for your PR and didn't see it. Can you link to it?

[2020-04-20 23:21] gejotas commented on #73
@tonysneed #106

[2020-04-23 08:44] codingdna2 opened #107 "DataAnnotation: Usage of nameof in ForeignKeyAttribute/InversePropertyAttribute"
Hi, first of all thanks for the outstanding project!

I was comparing the output of this project with EF Core 3.1 and I see you're not using nameof in ForeignKeyAttribute/InversePropertyAttribute generation.

I did this simple modification to HbsCSharpEntityTypeGenerator.cs:

[code]
I'll try to provide a PR later.
Kind Regards

EDIT: Aligned code with [CSharpEntityTypeGenerator.cs](https://github.

[2020-04-23 11:46] codingdna2 commented on #98
I guess PR #102 address this?

I add that it would be nice not to have to include all the parameters (if I transform only entityName, constructor and navProperties should be generated accordingly).

[2020-04-23 13:36] tonysneed commented on #107
Very good catch. Thank you also for the PR! I will have a look.

[2020-04-25 16:56] tonysneed commented on #100
For the fluent API, this tooling simply mimics the EF Core CLI behavior. Does the output for `dotnet ef dbcontext scaffold` without Handlebars scaffolding mark identity columns with `ValueGeneratedOnAdd()`?

[2020-04-28 13:55] JohnGoldInc opened #111 "Schema Foldering support"
I'd like to be able to sort entity models into folders by their scheme name.

[2020-04-29 13:16] #107 closed

[2020-04-30 16:38] tonysneed commented on #111
Closed by commit 9b447245.

[2020-04-30 16:38] #111 closed

[2020-05-01 20:52] #101 closed

[2020-05-01 21:35] tonysneed commented on #104
@ErikEJ Published [v3.7.0](https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/3.7.0) of the NuGet package.

[2020-05-05 15:39] birtej commented on #98
I'm not sure if this covers it, but transformed entity names are also not being used in generated constraints

[2020-05-06 23:52] tonysneed commented on #100
@canuszczyk Can you clarify?

[2020-05-06 23:52] tonysneed commented on #98
Closed by #118

[2020-05-06 23:52] #98 closed

[2020-05-08 10:05] audacity76 opened #119 "EnableSchemaFolders should apply different namespace"
Hi,

putting the entities into folders is great but the namespace should follow. If so, you can have the same table (name) in different schemas.

By the way the Docs example notes EnableSchemaFolders two times:

[code]

[2020-05-08 12:21] tonysneed commented on #119
Ah yes, good catch. If you like, you can submit a fix with a PR, or I can also do it.

[2020-05-08 12:58] audacity76 commented on #119
I'll try to provide a PR...

[2020-05-08 13:16] tonysneed commented on #119
Thank you! Be sure to carefully follow the Contributing Guidelines: https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/master/.github/CONTRIBUTING.md

[2020-05-08 13:48] audacity76 commented on #119
Alright, I'll try my best to follow the guidelines!

What happens to the names of the DbSets if there is the same table (name) in different schemas? I can change the DbSet's type and prepend the namespace so no problem there but what about the DbSet's name?

[code]

Maybe the `EntityNameTransformer` could provide different names then but currently it cannot recognize the entities schema...

[2020-05-10 16:00] JohnGoldInc commented on #119
@audacity76 Yeah , totally the stuff my mind didn't want to let me consider when I made the PR for EnableSchemaFolders ; plus it will get annoying in the using section too...

Best to put "schema" as a variable sent to the template for;
+ each "navigation property" in the entities
+ each "Set" in the context
+ an array the of used schemas to the "Imports" partials of both

Then alter the templates

[2020-05-10 17:09] tonysneed commented on #119
I would agree to supply schema name in the template data. But don’t alter the hbs templates. Instead, if EnableSchemaFolders is true, prefix then model class name with the schema namespace.

[2020-05-10 21:26] JohnGoldInc commented on #119
@tonysneed So no namespace change? Or would need to alter hbs for "using" statements in "Imports" of entities and context?

[2020-05-10 21:52] tonysneed commented on #119
Since the namespace for classes in a folder is nested within the parent namespace, if you just prefix the model class name with the folder name, it should all just work: `public virtual DbSet<Schema.Item>`.

[2020-05-12 09:09] audacity76 commented on #119
Ok, I'll prefix the model type with the schema name and supply the schema in the templates. So everybody can choose there own DbSet name. So for now the names stay the same which is okay if there are no duplicate table names.

Could take a while for the PR as I'm not at work this week.

[2020-05-13 16:30] canuszczyk commented on #100
Hey Tony - thanks for responding.  I've been moved to so many projects in the last 3 months that I cannot remember what I was working on when the problem cropped up.  I believe the issue I was having was that when I inserted a row that it was complaining that I needed to supply a value for an identity column and the .ValueGeneratedOnAdd() wasn't being placed in the modelsnapshot.  I think.  Howeve

[2020-05-13 16:53] tonysneed commented on #100
@canuszczyk Glad it works now. Happy you are enjoying the tool!

[2020-05-13 16:53] #100 closed

[2020-05-14 05:56] kudorgyozo opened #120 "[BUG]"
**Describe the bug**
TemplateData dictionary doesn't work

**Expected behavior**
Templatedata variables should work

**To Reproduce**
add this
                options.TemplateData = new Dictionary<string, object>
                {
                    { "models-namespace", "SomeProject.Entities" },
                    { "context-namespace", "SomeProject.DataAccess" }
                };

use it in a

[2020-05-14 06:09] kudorgyozo commented on #120
Nevermind, I had to use {{@root.models-namespace}}

[2020-05-14 06:09] #120 closed

[2020-05-22 13:57] birtej opened #121 "Ability to customise DbSet name"
Add another translator for DbSet names to allow names other than the database object name.

I have tried using a helper, but that does not change the name and hence the table 'attribute' is not generated on the entity.

[2020-05-22 14:01] tonysneed commented on #121
Can you provide an example?

[2020-05-22 14:41] birtej commented on #121
I am trying to use Handlebars to rescaffold to a particular naming convention in order to not have to modify thousands of lines of code.  Tables in the database are mostly named tblXXX, but we need the DbSet properties to be named PEXXX.

I have achieved that using a handlebars helper, but we also need the [Table("tblXXX")] attribute on the entity.  The inclusion of that is controlled by the DbSet

[2020-05-22 16:25] birtej commented on #121
I have an implementation in my fork, but don't know how to meet project unit test policies.

[2020-05-22 19:18] tonysneed commented on #121
Best if you create a unit test for the feature. But let me look into the issue.

[2020-05-23 19:15] tonysneed commented on #121
To get the `Table` attribute, you will need to pass a `-d` or `--data-annotations` flag to your `dotnet ef dbcontext scaffold` command.

Also, you might want to consider adding Handlebars transformers.

[code]

[2020-05-23 19:19] birtej commented on #121
Thanks, but  the table attribute is still only included if the DbSet Name is different fro the table name and the transformers do not change the DbSet name.

[2020-05-23 19:33] tonysneed commented on #121
I got the `Table` attribute to appear with the "tbl" prefix. The `Table` attribute appears when the table name does not conform to naming conventions.  So a "tblCustomer" table will result in a "TblCustomer" entity, which is different, therefore requiring the `Table` attribute.

As for the `DbSet` name, this would be handled in **DbSets.hbs** template, for example, with your "pe-replace" Handlebar

[2020-05-23 19:36] birtej commented on #121
However, in my case, the DbSet name used to evaluate whether to include the Table attribute does comply with convention and is merely hidden by my pe-replace helper.

[2020-05-23 19:38] tonysneed commented on #121
I thought you said your table names began with "tbl"? That does not comply with C# naming conventions for Type names, which are title cased, not camel cased.

[2020-05-23 20:26] tonysneed commented on #121
But regardless, I can see the usefulness of a scaffolding option to force the addition of the Table attribute, regardless of whether data annotations are used. Is this what you are asking for? Would you like to submit a PR for this feature?

[2020-05-23 20:38] tonysneed commented on #121
For the DbSet property name, that could be a defect, or an additional transformer could be added.

[2020-05-23 20:42] birtej commented on #121
I have a changeset for an additional - just need to get out of the migration I am on today and I will fathom out how to get it up to github.

[2020-05-23 21:27] tonysneed commented on #121
@birtej See these [Contributing Guidelines](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/master/.github/CONTRIBUTING.md) for steps on how you should create the pull request.

[2020-06-22 15:45] Illinariss opened #123 "[QUESTION / DISCUSSION] Multiple Templates"
Hi,
two questions.

Question 1.
I have 2 librarys for entities (client and server) and each needs different templates.
At the moment I have to Switch the Templates for each Scaffolding.
Is there a way to run Scaffolding once and:
-  create models_version_1 with templates_1 in project 1
-  models_2 with templates_2 in project 2
?
Or anything similar ?

Question 2.
To get the `property.IsKey()` and

[2020-06-27 16:11] tonysneed commented on #123
@Illinariss Response to Question 1:

Not really. The way the EF Core CLI works is that it is [scoped to just one project](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet#using-the-tools), called the "startup project," which must be a .NET Core library or app. You can specify a different "target project," which can be for example a .NET Standard library, but you can only scaffold

[2020-06-27 16:59] tonysneed commented on #123
@Illinariss Response to Question 2:

You have the right approach. Extend `HbsCSharpEntityTypeGenerator` to override `GenerateProperties`, and extend `HbsEntityTypeTransformationService` to override `TransformProperties`.

Then add these lines of code to your `ScaffoldingDesignTimeServices` class:
[code]

Alternatively, if you think `property.IsKey` and `property.IsForeignKey` might be useful for o

[2020-06-28 20:40] #73 closed

[2020-06-29 19:35] tonysneed commented on #123
Please re-open if I can further clarify or answer any other questions.

[2020-06-29 19:35] #123 closed

[2020-06-29 19:36] tonysneed commented on #121
@birtej Are you still interested in this feature?

[2020-06-29 21:19] #119 closed

[2020-07-01 16:51] jryutzy opened #128 "[QUESTION / DISCUSSION]"
dotnet ef dbcontext scaffold "Server=localhost;Database=Demo;Persist Security Info=False;User ID=sa;Password=removed" Microsoft.EntityFrameworkCore.SqlServer --schema App --output-dir zGenerated_Code_dncli --force

trying to add customization to templates but getting this error when trying to add anything
![image](https://user-images.githubusercontent.com/67274124/86270551-68bf9d80-bb99-11ea-84cb-

[2020-07-01 19:08] tonysneed commented on #128
Thanks for your question. Support for EF Core 5.x has not yet been added to Handlebars Scaffolding. You need to use a released (non-preview or beta) version of Microsoft.EntityFrameworkCore packages.

[2020-07-01 19:27] jryutzy commented on #128
Thanks Tony. Do you know when we might expect it? --no-onconfiguring, --namespace and --context-namespace are a few features in EF 5 I've been using.

[2020-07-01 19:39] tonysneed opened #129 "[Feature] Support EF Core 5.0"
Add support for EF Core 5.0.

[2020-07-01 19:40] tonysneed commented on #128
I would like to get this done before the end of July. Tracking the issue with #129.

[2020-07-01 19:40] #128 closed

[2020-07-04 00:27] j-childers commented on #34
I noticed a couple of places that might have been missed when implementing the renaming features.  It may be that I don't understand the code well enough at this point, though.  So here goes...

In `HbsCSharpDbContextGenerator.GenerateDbSets`, the property name is assigned by calling `GetDbSetName()`, which will return the underlying name that was generated by EF Core.  If someone has renamed thei

[2020-07-06 18:45] jryutzy opened #130 "Disable HTML Encoding"
![image](https://user-images.githubusercontent.com/67274124/86627954-20d4b800-bf97-11ea-98d6-1d397c5ca001.png)

produces this
![image](https://user-images.githubusercontent.com/67274124/86627986-2fbb6a80-bf97-11ea-9a41-6464e35953bb.png)

How do I disable HTML encoding so i can output quotation marks "?
https://github.com/rexm/Handlebars.Net/issues/119

[2020-07-06 18:55] jryutzy commented on #130
never mind found the answer
https://stackoverflow.com/questions/20280601/insert-html-in-a-handlebar-template-without-escaping

need a triple bracket to prevent escaping {{{my-helper}}}

[2020-07-07 05:36] PaulWattsHgem opened #131 "[Question] DDD and backing fields"
Hi
I would really like to use DDD and backing fields see below (with the correct casing if possible)

Would it be possible to give me some pointers ?

Many thanks

https://docs.microsoft.com/en-us/archive/msdn-magazine/2019/november/data-points-backing-field-and-owned-entity-changes-in-ef-core-3-0

[2020-07-07 21:43] aeslinger0 opened #132 "CodeTemplates Folder Not Created"
**Describe the bug**
The CodeTemplates folder is not getting created on first run. The documentation says "You will also see a CodeTemplates folder appear containing Handlebars templates for customizing generation of context and entity type classes." This is not happening

**Expected behavior**
Templates appear when the `dotnet ef dbcontext scaffold ...` command is ran.

**To Reproduce**
Just foll

[2020-07-07 22:31] tonysneed commented on #132
What is the version of your EF Core packages?

[2020-07-07 23:47] aeslinger0 commented on #132
I'm using .Net Core 3.1 and these are the NuGet Packages I'm using:

![image](https://user-images.githubusercontent.com/8813038/86856604-48547f00-c082-11ea-8a06-ad0d7f37ad36.png)

[2020-07-07 23:55] tonysneed commented on #132
Let me reproduce then.

[2020-07-08 16:52] #130 closed

[2020-07-08 18:51] #132 closed

[2020-07-08 19:22] aeslinger0 commented on #132
That fixed it. Thanks for the speed response @tonysneed!

[2020-07-08 20:20] tonysneed commented on #132
The new NuGet package v3.8.1 has the fix.

[2020-07-09 13:14] audacity76 opened #134 "Feature EnableSchemaFolders creates entities with missing namespaces"
If schema folders are enabled, the generated `InversePropertyAttribute` of the navigation properties (which use nameof) fail to find entities from different schemas / namespaces. Also, the DbContext namespaces aren't correct. It is missing the base namespace. The generated namespace looks like:
`using Schema = .Schema;`

DbContext and Entities need to declare all referenced schemas like:
`using Sc

[2020-07-10 10:54] aeslinger0 commented on #84
@tonysneed, could this be looked at again? Your proposal to extend `HbsCSharpEntityTypeGenerator` doesn't work well because the base implementation of `GenerateNavigationProperties`, for example, includes references to private members in the base class. Could you either make those references protected or, even more ideally, pass in the objects such as the `INavigation` instance into the navPropert

[2020-08-17 03:30] gdycus opened #136 "NullReferenceException with EntityTypeTransformationService.TransformNavPropertyName"
Getting the following error when executing "dotnet ef dbcontext scaffold". Any thoughts on what might cause this error? Thanks!

System.NullReferenceException: Object reference not set to an instance of an object.
   at EntityFrameworkCore.Scaffolding.Handlebars.HbsCSharpDbContextGenerator.GenerateRelationship(IForeignKey foreignKey, Boolean useDataAnnotations, IndentedStringBuilder sb)
   at Enti

[2020-08-17 04:21] gdycus commented on #136
I'm using 3.1.7 versions of EntityFrameworkCore components

[2020-08-17 05:40] ErikEJ commented on #136
Which version of the Handlebars package?

Which EF Core provider and version?

[2020-08-17 06:23] gdycus commented on #136
Microsoft.EntityFrameworkCore = 3.1.7
Microsoft.EntityFrameworkCore.Design = 3.1.7
Microsoft.EntityFrameworkCore.SqlServer = 3.1.7
Microsoft.EntityFrameworkCore.Tools = 3.1.7
EntityFrameworkCore.Scaffolding.Handlebars = 3.8.2

[2020-08-17 06:28] ErikEJ commented on #136
Possible related to https://github.com/ErikEJ/EFCorePowerTools/issues/463

[2020-08-17 06:30] ErikEJ commented on #136
We need your database schema

[2020-08-17 14:43] gdycus commented on #136
I just emailed it to you @ErikEJ

[2020-08-17 14:47] gdycus commented on #136
@tonysneed could I send the schema to your private email? If so, could you send your email address?

[2020-08-17 14:54] gdycus commented on #136
Or you can email me at grady at singenuity com and I'll reply with the schema

FYI I do not have EF Power Tools installed

[2020-08-17 22:09] tonysneed commented on #136
@gdycus If you run the command `dotnet ef dbcontext scaffold`, without involving Handlebars at all, you will get an error. So this is not a bug in Handlebars templates, but seems to be related to your model:

[code]

[2020-08-18 04:38] ErikEJ commented on #136
Why would that warning cause a NRE?

[2020-08-18 05:33] tonysneed commented on #136
@ErikEJ You're right. The NRE takes place simply because I need to use the null propagation operator.
@gdycus I'll release a fix ASAP.

[2020-08-18 05:57] #136 closed

[2020-08-18 06:07] tonysneed commented on #136
@ErikEJ @gdycus Fix has been published: https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/3.8.3

[2020-08-18 06:16] tonysneed commented on #134
@audacity76 Is this still happening? Can you provide an example?

[2020-08-18 06:18] tonysneed commented on #129
I will add this with EF Core 5.0 RC.

[2020-08-18 06:19] tonysneed commented on #121
I believe this will be supported natively by the EF Core tooling in v5, which I will add for #129.

[2020-08-18 06:19] #121 closed

[2020-08-18 06:24] tonysneed commented on #131
@PaulWattsHgem Is there an aspect of your question that relates to reverse engineering of entities from a database? If not, I would suggest posting your question on the EF Core forum or Stack Overflow.

[2020-08-18 06:28] ErikEJ commented on #136
Perfect, I just updated EF Core Power Tools, and the fix is available in the latest daily build

[2020-08-18 14:14] gdycus opened #138 "property-type"
In the original .NET Entity Framework, a foreign key property name was always the name of the table. For example, if the foreign key was ClientLocationKey, the foreign key property generated would be ClientLocation. For some reason EF Core decided to name the property ClientLocationKeyNavigation. I'm migrating a very large legacy .NET EF project and I need to keep the same naming convention. I mod

[2020-08-18 14:16] gdycus commented on #136
It's working now. Thanks!

[2020-08-18 18:43] tonysneed commented on #138
Your best bet I think would be to use a [transformer](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars#handlebars-helpers-and-transformers). There is a `navPropertyTransformer` parameter  you can set. This will propagate to the `OnModelCreating` method. If you use this approach, then you won't modify DbSets.hbs.

[2020-08-19 01:00] gdycus commented on #138
The following "AddHandlebarsTransformers" is not having any affect on the property names. ReverseEngineerOptions and EnablePluralization works but not AddHandlebarsTransformers. Is there anything I need to do in addition to this?

`services.AddHandlebarsScaffolding(options =>
{
	options.ReverseEngineerOptions = ReverseEngineerOptions.DbContextAndEntities;

	options.EnablePluralization = true;

	se

[2020-08-19 05:02] gdycus commented on #138
Disregard. It's working. I was calling AddHandlebarsTransformers inside of AddHandlebarsScaffolding. Thanks!

[2020-08-19 05:38] #138 closed

[2020-08-27 16:18] omatrot opened #139 "[Question] How to have an index that could be incremented by hand from inside the main template and partials"
I would like to add a Newtonsoft.Json attribute **[JsonProperty(Order = X)]** in the c# generated code.
X should start at one and would be incremented for each properties and each navigation properties (thus in each corresponding partial in my case).
Is it something that we could implement? Any guidance to allow me to start with something?
Thanks in advance.

[2020-08-27 16:38] tonysneed commented on #139
I think the best way to do this would be to extend `HbsCSharpEntityTypeGenerator` and override `GenerateProperties`. Then you can add `property-order` to the template data and use it in your hbs file.

For an example of this approach see [here](https://github.com/TrackableEntities/ef-core-community-handlebars#7-full-control-extend-handlebars-generators).

[2020-08-28 08:30] omatrot commented on #139
Thanks for that.

[2020-08-28 08:30] #139 closed

[2020-08-31 16:23] russosalv opened #140 "[Question] How to add custom templates"
How I can add custom template?
i would to have something like that:

`{{> imports}}

namespace {{namespace}}
{
    {{#if comment}}
    /// <summary>
    /// {{comment}}
    /// </summary>
    {{/if}}
    {{#if class-annotation}}
    {{{class-annotation}}}
    {{/if}}
    public partial class {{class}} : {{fox-entity-interface}}
    {
        {{{> properties}}}
    }

    public partial class {{cla

[2020-09-27 15:07] Hedi-s opened #141 "[Feature] Customize context file name"
**Is your feature request related to a problem? Please describe.**
I am using a script to do few things that couldn't be done by the scaffolding.
I just discovered this project which covers everything except for the context file name.
On my current project the generated files name are like _ContextName.generated.cs_ or _EntityName.generated.cs_.
We can customize entities file name with the `entity

[2020-09-27 20:21] tonysneed commented on #141
Good suggestion. I can add the feature. Or let me know if you would like to submit a PR.

[2020-09-27 20:56] Hedi-s commented on #141
I will submit a pull request.

[2020-09-28 20:00] tonysneed commented on #140
The ability to register new partial templates in the Partials folder was requested with #73 and implemented with #124. Unfortunately, this broke creation of the CodeTemplates folder (#132) and had to be reverted. I'll keep this issue open for now, in case someone would like to attempt another implementation.

[2020-09-28 20:01] #141 closed

[2020-09-28 20:15] tonysneed commented on #141
@Hedi-s Released: https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/releases/tag/v3.8.4

Nuget package now publishing: https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/3.8.4

[2020-10-21 15:26] ExusAltimus commented on #57
Had the same issue again when using netcoreapp3.1 as my generator project and netstandard2.0 as my data model project,
this issue also fixed the following error when scaffolding:

`System.IO.FileLoadException: Could not load file or assembly 'netstandard, Version=2.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd
2ddd51'. The located assembly's manifest definition does not match the assembly refe

[2020-10-21 17:37] ExusAltimus opened #144 "[Bug] Line Characters in Generated Comments"
**Describe the bug**
If there is a new line character in the extended properties of a column / table, the default .hbs / CSharpEntityTypeGenerator doesn't account for this and leaves the generated models with syntax errors due to the new line not being commented out.

**Expected behavior**
Split the string into lines and loop through each commenting the line out

**To Reproduce**
Have an extended

[2020-10-21 17:47] ErikEJ commented on #144
This is a battle hardened implementation:

https://github.com/dotnet/efcore/pull/22937

[2020-11-04 11:02] tomasfil opened #145 "[Bug] System.InvalidOperationException: Unable to resolve service for type IContextTransformationService"
**Describe the bug**
This error appears when I try to scaffold dbcontext like:
`Scaffold-DbContext "constring" Oracle.EntityFrameworkCore -OutputDir Models -Context eWMSEntities -ContextDir . -f`

**Expected behavior**
Should create CodeTemplates

**To Reproduce**
Created DesignTimeServices:
[code]
And ran the scaffold

**Make My Life Easier**
If possible, create a pull request that contains a fai

[2020-11-05 12:33] tonysneed commented on #145
I’ll try to reproduce.

[2020-11-07 21:26] tonysneed commented on #145
I was able to reproduce. I'll fix it.

[2020-11-07 21:58] #145 closed

[2020-11-07 21:59] tonysneed commented on #145
Release 3.8.5 will include the fix for this.

[2020-11-15 19:42] tonysneed commented on #129
Resolved by #143.

[2020-11-15 19:42] #129 closed

[2020-12-03 08:01] omatrot opened #147 "[Bug] Generated code for tables with the same name in multiple schemas is overwritten silently."
**Describe the bug**
I have a database with tables with the same name hosted in different database schemas.
The problem is that the class name (thus file name in the end) will be the same, because the schema (or table system id) is not used to produce a unique class name.
Generated files are overwritten silently.

**Expected behavior**
Disctinct class names and no overwritten files on disk.

**To

[2020-12-04 14:38] tonysneed commented on #147
Let me see if I can replicate. There should not be class or file name collisions because they are placed in different namespaces and different file folders.

[2020-12-04 14:45] omatrot commented on #147
I forgot to say that I'm using version 2.0.0 of the package code.

[2020-12-04 21:52] tonysneed commented on #147
@omatrot You are using version [2.0.0](https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/2.0.0) of EntityFrameworkCore.Scaffolding.Handlebars?

Schema folder support was only added with version [3.7.0](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/releases/tag/v3.7.0).

I tried this with the latest version and t works as expected, with clas

[2020-12-04 22:03] tonysneed commented on #144
@ErikEJ If XML comments are enabled in EF Core 5.0, then I having them in my tool seems redundant. How does one enable generation of comments using the dotnet-ef CLI? They don't seem to be enabled by default.

[2020-12-05 07:17] ErikEJ commented on #144
@tonysneed XML comments are generated in EF Core 5! https://github.com/dotnet/efcore/blob/release/5.0/src/EFCore.Design/Scaffolding/Internal/CSharpEntityTypeGenerator.cs#L261 - they are generated by default in EF Core 6! https://github.com/dotnet/efcore/blob/main/src/EFCore.Design/Scaffolding/Internal/CSharpEntityTypeGenerator.cs#L264

[2020-12-05 13:49] tonysneed commented on #144
How do you enable comments in EF Core 5? How do you disable them in EF Core 6? Is there a CLI parameter?

[2020-12-05 13:57] ErikEJ commented on #144
Magic!

No, I override the linked class and use that overridden class with my EF Core 5 scaffolding tool.

There is no option to turn it off.

[2020-12-05 18:36] #144 closed

[2020-12-05 18:43] tonysneed commented on #147
Closing issue, as support for schema folders was added with version 3.7.0.

[2020-12-05 18:43] #147 closed

[2020-12-10 13:16] JochemVH1 commented on #29
Hello extending the 'HbsCSharpDbContextGeneror' is exactly the thing I need right now. I currently created some custom handlebar helpers via AddHandlebarsBlockHelpers in ConfigureDesignTimeServices. Im just wondering what is meant by:
"You would then need to register your class in `ScaffoldingDesignTimeServices.ConfigureDesignTimeServices`". Does this mean I have to register this for dependency in

[2020-12-10 13:53] tonysneed commented on #29
@JochemVH1 Yes precisely. Call services.AddSingleon in DesignTimeServices class.

[2020-12-10 14:04] JochemVH1 commented on #29
@tonysneed might be a stupid question but do I need to remove the standard implementation? pointing to ICSharpDbContextGenerator? Somehow my derived class doesnt get hit

[2020-12-10 14:13] JochemVH1 commented on #29
@tonysneed nevermind I had to make a call to register the class after the call to `AddHandleBarsScaffoling`

[2020-12-10 14:17] JochemVH1 commented on #29
great it works now, so glad I stumbled across this post

[2020-12-10 16:01] tonysneed commented on #29
@JochemVH1 For further reference, and for others trying this approach, please see [Full Control: Extend Handlebars Generators](Full Control: Extend Handlebars Generators) in my EF Core Community Standup demo.

[2020-12-17 23:38] greggbjensen opened #149 "ExcludedTables no longer includes views with .NET 5 updates"
**Describe the bug**
With the .NET 5 updates, views were no longer being excluded using the ExcludedTables option.

**Expected behavior**
Both views and tables should be matched when excluding with this option.

**To Reproduce**
1. Add a view to the `ModelBuilder` using `ToView()`
2. Add that view name to be excluded by adding it to the `ExcludedTables` list in the options
3. Notice a class is sti

[2021-01-27 11:58] Leosori opened #151 "[Bug] Enabling Nullable Reference Types does not make navigation properties nullable"
**Describe the bug**
If EnableNullableReferenceTypes is set to true, non-collection nav properties that belong to a nullable property are not marked as nullable. This causes Entity Framework to use INNER JOINs instead of OUTER JOINs when generating the SQL query.

Example of the currently generated entity:

[code]

**Expected behavior**
[code]

**Additional context**
Property template looks curren

[2021-01-28 22:30] luis-cortina opened #152 "[Question] How to exclude property from being created(Its present on base class)"
First time I hear of handlebars and most solutions out there are js related.

I want to exclude a property from rendering if it has a certain name. I was doing this, but not working. Any ideas?

`{{#unless property-name TenantId}}`
[code]

[2021-01-29 18:57] Leosori commented on #152
Both `#if` and `#unless` accept only one parameter that they will try to evaluate to a boolean result.
You need to write your own block helper for such a case

Have a look at the example over at Handlebars.Net
https://github.com/Handlebars-Net/Handlebars.Net#registering-block-helpers
Their example is actually exactly what you want 🙂

Registering the block helper is slightly different because it's

[2021-02-09 00:37] Leosori commented on #149
@tonysneed Do you still look after this repository? Since the pull request has not been answered for nearly two months, I wonder if I should even prepare a pull request for another issue

[2021-02-09 00:40] tonysneed commented on #149
So sorry I missed this. Inbox must have swallowed the notice. I'll have a look at the issue and PR ASAP. Thanks for pinging!

[2021-02-09 00:55] Leosori commented on #149
glad to hear this is still maintained. My issue was actually #151. The fix should be pretty easy, but I can prepare a PR if you want some help.

[2021-02-09 00:59] tonysneed commented on #149
@Leosori I'll have a look at your issue as well.

[2021-02-09 01:00] tonysneed commented on #151
I will see if I can replicate this behavior.

[2021-02-18 20:33] #149 closed

[2021-02-18 21:42] tonysneed commented on #151
In order to surface a `nav-property-isnullable` template item, we need to determine whether a navigation property is optional, where the foreign key is nullable. I looked at [INavigation](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.metadata.inavigation?f1url=%3FappId%3DDev16IDEF1%26l%3DEN-US%26k%3Dk(Microsoft.EntityFrameworkCore.Metadata.INavigation);k(SolutionItemsPr

[2021-02-19 15:34] #151 closed

[2021-02-19 15:37] tonysneed commented on #152
Thanks @Leosori for answering this question.

[2021-02-19 15:37] #152 closed

[2021-02-23 01:36] egorpavlikhin commented on #132
I have the same issue while running
`dotnet ef dbcontext scaffold "connectionstring"
Microsoft.EntityFrameworkCore.SqlServer -o Models --schema dbo --context MyDataContext -f` for the first time
[code]

[2021-02-23 15:12] tonysneed commented on #132
@egorpavlikhin I'm not able to replicate this error. In a .NET 5.0 Class Library, I am using the following packages:
- Microsoft.EntityFrameworkCore.SqlServer 5.0.3
- Microsoft.EntityFrameworkCore.Design 5.0.3
- EntityFrameworkCore.Scaffolding.Handlebars 5.0.2

Are you using these same versions? Can you create a GitHub repo to replicate the error?

[2021-02-23 15:21] tonysneed opened #155 "Could not find a part of the path for DbImports.hbs"
I have the same issue while running
`dotnet ef dbcontext scaffold "connectionstring"
Microsoft.EntityFrameworkCore.SqlServer -o Models --schema dbo --context MyDataContext -f` for the first time
[code]

_Originally posted by @egorpavlikhin in https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/issues/132#issuecomment-783802320_

[2021-02-23 15:22] tonysneed commented on #155
@egorpavlikhin I'm not able to replicate this error. In a .NET 5.0 Class Library, I am using the following packages:
- Microsoft.EntityFrameworkCore.SqlServer 5.0.3
- Microsoft.EntityFrameworkCore.Design 5.0.3
- EntityFrameworkCore.Scaffolding.Handlebars 5.0.2

Are you using these same versions? Can you create a GitHub repo to replicate the error?

It looks like you may be using a project that was

[2021-02-23 15:22] tonysneed commented on #132
Created a new issue for you #155.

[2021-03-11 22:27] jryutzy opened #156 "Removing Keyless Attribute"
We have external tables in our Azure SQL DB that are scaffolded in with the DB Context. We can manually create relationships to them using the approach I outlined here to generate relationships so .Include() works to include these External tables and create a join in the LINQ query based on our manually created relationship.
https://github.com/dotnet/efcore/issues/24373
Looks like it's been filed

[2021-03-15 13:19] jryutzy commented on #156
Is there somehow to add helpers like this called **isdefined**?
https://handlebarsjs.com/guide/builtin-helpers.html#if
![image](https://user-images.githubusercontent.com/67274124/111159363-68bccd80-856f-11eb-831a-6756147936ff.png)

I would like to check fi the value of class-annotation is [Keyless] and schema ends with .Ext then don't render the [Keyless] attribute

[2021-03-19 15:58] BBSquared opened #157 "AddHandlebarsTransformers -> entityNameTransformer - Add schema of object to object name"
There's no easy way to add schema in to the object names as far as I can tell.  Would it be possible to make the entityNameTransformer include a more complex object that includes the database schema?  example:

// Add optional Handlebars transformers with Schema
services.AddHandlebarsTransformers(
    entityNameTransformer: o=> o.Schema + "_" + o.Name
)

*edit: instead of passing IEntityType.Name,

[2021-03-20 16:29] tonysneed commented on #155
Closing for now. Please re-open if needed.

[2021-03-20 16:29] #155 closed

[2021-03-20 17:01] tonysneed commented on #156
Hi @jryutzy, Thanks for your patience. I noticed that the EF Core team has created https://github.com/dotnet/efcore/issues/24369 to address your issue. They also [suggested](https://github.com/dotnet/efcore/issues/24373#issuecomment-803288929) you try setting `entity.Metadata.IsKeyless = false`.

If you would still like to use Handlebars Scaffolding as a workaround, what you need to do is extend `

[2021-03-20 17:26] tonysneed commented on #157
Hi @BBSquared, Handlebars Scaffolding supports the concept of [Schema Folders](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/master/README.md#schema-folders).

When you enable Schema Folders, entities are placed in the schema namespace, which is the same as the folder name (following .NET coding conventions). When you use the schema qualified entities in your

[2021-03-25 20:36] JohnGoldInc opened #158 "Consolidate CSharp and TypeScript Generation and allow for other templates directories and file extensions"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A way to add own Template Directories and different File Extensions then just .ts and .cs (allowing for .razor, .cshtml ...)

[2021-03-26 15:10] tonysneed commented on #156
Please reopen if there are further questions or concerns.

[2021-03-26 15:10] #156 closed

[2021-03-26 15:11] tonysneed commented on #157
Please re-open if there are further questions or concerns.

[2021-03-26 15:11] #157 closed

[2021-03-28 18:06] john-larson opened #160 "Enhancements For Navigation Properties"
Right now, when trying to filter navigation properties for transformation, we only have access to certain properties such as name, type and nullability.

I propose introducing a "NavigationPropertyInfo" class that derives from "EntityPropertyInfo". It will contain an "INavigation Navigation" property so that users of the library will not be limited to certain properties of the original EF Core nav

[2021-03-28 23:12] tonysneed commented on #160
Good proposal. I will have a look this week.

[2021-04-05 05:08] john-larson commented on #160
Hi @tonysneed. Did you have a chance to look at the pull request?

[2021-04-05 13:10] tonysneed commented on #160
Thanks for your PR. Looking at it right now.

[2021-04-05 20:54] tonysneed commented on #158
Hi @JohnGoldInc, thank you for suggesting these enhancements. It looks like you have two requests.
1. Add your own template directories.
2. Add different file extensions other than just .ts and .cs.

For (1): This looks the same as #140 and #73. Is this your intention? If so, would you mind creating a PR just for this requested feature?
For (2): What is your motivation for enabling language option

[2021-04-07 21:08] jryutzy opened #162 "AddHandlebarsHelpers ignores all but last one Added"
When I have multiple Handlebar Helpers it only recognizes the second one
![image](https://user-images.githubusercontent.com/67274124/113934291-93dbbb00-97c3-11eb-855b-3086a597fc76.png)

![image](https://user-images.githubusercontent.com/67274124/113934177-6c84ee00-97c3-11eb-9ae4-379a1630ff02.png)

It throws an error that it can't find the first helper (attributeHelper)
![image](https://user-images

[2021-04-08 03:39] JohnGoldInc commented on #158
Yes #140 & #73 seem same line of thought.

I want to generate .razor files personally, so c#/html

On Mon, Apr 5, 2021 at 4:55 PM Anthony Sneed ***@***.***>
wrote:

[2021-04-08 12:18] skuami commented on #160
This is my first comment on this project: Great job Tony!
I am in the same situation that I need more information to transform my nav properties properly.

I am having following [issue](https://stackoverflow.com/questions/66786326/ef-core-5-db-first-naming-of-navigation-properties-inverseproperty/66925586#66925586) which lead me here. ;-)

[2021-04-08 12:35] JohnGoldInc commented on #158
@tonysneed re-reading #140 & #73 they seemed to want to change the file names .. mine provides a way to change directory names but not file names. But if fulfils the same purpose I believe as these Issues were pre directories, and they wanted a way to have multiple script files partials to switch between.

[2021-04-08 12:37] jryutzy commented on #162
@tonysneed I was able to use this approach until the bug is resolved to fix services.AddHandlebarHelpers()
https://github.com/Handlebars-Net/Handlebars.Net#registering-helpers
![image](https://user-images.githubusercontent.com/67274124/114027653-9aab1200-9845-11eb-9ba7-e9383934d117.png)

[2021-04-08 14:23] skuami opened #163 "[Question] Changing names of navigation properties"
In a project I have a translation table and many other tables with one or more columns to be translated. Those tables are joined through a TranslationKey.
The TranslationKey has on each table (not the translation table) a unique index. On the translation table is the primary key constructed with the combination of TranslationKey and LanguageCode.

Since the tables are not joined through the primar

[2021-04-08 16:10] skuami opened #164 "[Bug] Issue when EnableSchemaFolder and linking tables across schema"
**Describe the bug**
Model classes are not recognized when EnableSchemaFolder is enabled. This occures when a constraint is configured on the database between tables in different schemas.
The namespaces for references tables in different schemas are missing:

![image](https://user-images.githubusercontent.com/13868838/114059740-f81a7f80-9894-11eb-8d9d-f3b525b6aa67.png)

There is also an issues on

[2021-04-08 18:24] JohnGoldInc commented on #158
@tonysneed  to clarify this generates other files with different file extensions ( currently limited to .ts and .cs, I want .razor)

[2021-04-08 22:13] ghisbo opened #165 "Generate Xaml for basic CRUD"
The handlebars look very well suited for generating the xaml file for wpf.
Very often one wants a very basic CRUD screen where the fields of a database table are set as "Field: "  , textbox binding to FIeld

best regards

[2021-04-11 17:43] JohnGoldInc commented on #158
@tonysneed can't split the PR btw, making it generic between TS and CS generation is also how customized generation becomes possible

[2021-04-11 22:54] tonysneed commented on #160
@john-larson Please see my [comment](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/pull/161#issuecomment-817386779) in your PR.

[2021-04-11 22:56] tonysneed commented on #160
@skuami Thanks for your inquiry. As soon as john-larson fixes some issues with his PR, I can merge it and you'll have the needed functionality.

[2021-04-12 00:07] tonysneed commented on #158
Hi @JohnGoldInc,

Thanks for helping me understand the purpose of your proposal. I'm not sure if the ability to generate files other than C# or TypeScript (in your case Razor) is a feature that is desired by a significant number of people. I would like to see this issue upvoted by some folks before adding this capability.

What I can do instead is show you how you can generate .razor files using c

[2021-04-12 00:10] tonysneed commented on #162
@jryutzy Glad you found a workaround. This looks like a good catch. I'll try to replicate as soon as I get a chance.

[2021-04-12 00:21] tonysneed commented on #163
All the transformations need to be done consistently, so that the type names match. For example, see how `"Foo"` is appended  in multiple transformers.

[code]

[2021-04-12 00:24] tonysneed commented on #164
@skuami, Thanks for pointing this out. I will reproduce as soon as I have an opportunity. Of course, a PR with a fix would be welcome! 😄

[2021-04-12 00:26] tonysneed commented on #165
Hi @ghisbo, Appreciate the issue. For generating anything other than C# or TypeScript, I would recommend following the process I outline [here](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/issues/158#issuecomment-817397952) in this issue. Basically, the ultimate extensibility hook is to extend the generator classes. You should be able to accomplish your objective

[2021-04-12 16:42] ghisbo commented on #165
Thank you for the feedback. I am not so proficient in these ( i am 65 and learning ) .
Does it mean i should clone this "EntityFrameworkCore.Scaffolding.Handlebars" and adapt the coding in there ?
I am using EF Core power Tools.

[2021-04-12 17:59] tonysneed commented on #165
Rather that using Handlebars Scaffolding for this case, I suggest you generate XAML from C# classes. You can use a more general purpose tool, such as [T4](https://docs.microsoft.com/en-us/visualstudio/modeling/code-generation-and-t4-text-templates?view=vs-2019). To get started see this [article](https://docs.microsoft.com/en-us/visualstudio/modeling/walkthrough-generating-code-by-using-text-templa

[2021-04-12 17:59] #165 closed

[2021-04-13 00:06] JohnGoldInc commented on #158
I respect that you have to make these calls on what to allor as PRs;  but
to iterate my arguments.

HbsRazorModelGenerator will make a Third set of classes and templates that
would need to be maintained in the github solution... I feel it would be
better served to make TypeScript and CSharp generation generic enough to be
done by same classes (and halve the number of updates needed on
architecture

[2021-04-13 02:06] tonysneed commented on #158
I think you misunderstood my suggestion. It was not to contribute razor generation capability, since I would like this repo to remain focused on generating C# and TypeScript files, but rather for you to achieve your goal in your own private project by extending CSharpModelGenerator and other classes there.

Separately, if you wish to submit one or more PR‘s that are narrowly focused on individual

[2021-04-13 03:17] JohnGoldInc commented on #158
Er, not really seeing a cleaving point to separate things into smaller
chunks. I am achieving multiple things at once with the same change.

When merging the generators , comments are handled differently (triple
slash for Csharp, vs not for typescript), the feature needs to be there if
I don't want to break one of the generators by default  .

And making triple slash a configurable thing previous

[2021-04-13 14:10] tonysneed commented on #158
generators would mean I would have to add the triple slash on/off property
to a new parameter or property, making it so previous code that used to
work without an extra parameter now needs the extra parameter/property to
do triple slashes or not.

[code]

I'm not getting why you think implementing this feature would break existing code. Why not set the default value of `options.TripleSlashComments

[2021-04-13 14:12] JohnGoldInc commented on #158
That would break CSharp generated code with an upcommented line ... just
like setting it to True would make TypeScript weird

On Tue, Apr 13, 2021 at 10:10 AM Anthony Sneed ***@***.***>
wrote:

[2021-04-13 14:17] tonysneed commented on #158
Can you give an example of the generated code that would be broken? Maybe seeing it would help me better understand.

[2021-04-13 14:20] JohnGoldInc commented on #158
in CSharp

///<Summary>
Non Commented Field Comment Text
///</Summary>
public int SampleField {get;set;}

On Tue, Apr 13, 2021 at 10:17 AM Anthony Sneed ***@***.***>
wrote:

[2021-04-13 14:24] JohnGoldInc commented on #158
In Type Script

/*
* /// Over Commented if set true
*/
 int sampleField ...

On Tue, Apr 13, 2021 at 10:20 AM John Gold ***@***.***> wrote:

[2021-04-13 14:25] tonysneed commented on #158
The way this feature now works in the library is that comments only show up in generated code when the table or column is commented in the database. This is not currently configurable, if the comments are in the database, they show up in the generated code (at least the way the templates are currently defined).

Making them configurable, with the default set to `false`, simply means that the comme

[2021-04-13 14:29] JohnGoldInc commented on #158
that's not my purpose for the setting .. my purpose is formatting of the
comments

if people don't want comments they can edit the template

On Tue, Apr 13, 2021 at 10:25 AM Anthony Sneed ***@***.***>
wrote:

[2021-04-13 14:31] JohnGoldInc commented on #158
Care to suggest a better naming? or maybe I should make it a function like
the TypeScriptHelper?

On Tue, Apr 13, 2021 at 10:29 AM John Gold ***@***.***> wrote:

[2021-04-13 14:48] tonysneed commented on #158
comments

Why is this needed? The template data has the content of the comments. The templates contain the formatting.

[2021-04-13 15:07] JohnGoldInc commented on #158
no the /// is done in C# generator, string building it to be in front of
every line with the appropriate indent

On Tue, Apr 13, 2021 at 10:48 AM Anthony Sneed ***@***.***>
wrote:

[2021-04-13 16:01] tonysneed commented on #158
That's the way it is currently implemented.
[code]

How are you proposing to to change the implementation?

[2021-04-13 16:36] JohnGoldInc commented on #158
if they don't want comments they will delete the above you quoted from the
template, I don't want to change that.

However in C# generator objects, the comment string is massaged to  have
/// in front of every line (and indented)

In generalizing TypeScript vs CSharp generation into one set of objects I
needed to make comment formatting controllable from outside the class so
that it put /// for CS

[2021-04-13 17:13] tonysneed commented on #158
If your objective is to consolidate code generation into a single set of classes, then I don't see why you would need to specify whether or not to have `TripleSlashComments`. This should be a byproduct of the kind of file you want to generate. If C#, then the comments would be formatted with `///`; if TypeScript, then not. You would then use some creational design pattern, such as factory or build

[2021-04-13 17:15] tonysneed commented on #165
PS. I would suggest you have a look at the [work](https://github.com/bricelam/EFCore.TextTemplating) Brice Lamb has done with [T4 and EF Core Reverse Engineering](https://www.bricelam.net/2020/02/03/t4-and-efcore.html). T4 is more flexible in some ways than Handlebars, because you can embed code directly in the templates.

[2021-04-13 17:28] ghisbo commented on #165
I did look at T4 but the coding is very confusing even with the intellisense help.
 I am looking TryAndErr0r /EntityFrameworkCore.Scaffolding.Handlebars. I find the Handlebars much more user friendly.

[2021-04-13 17:56] JohnGoldInc commented on #158
Having a if = CSharp condition inside the class is just not the right way
to do things as it's not very extendable in my opinion.

But I don't want to extend the library itself beyond C# and TypeScript, I
just wanted to use a handlebars templating approach on my own stuff outside
the library (and I did consider T4). And I thought I'd generate a win-win,
smaller code base by abstracting everything

[2021-04-13 17:57] JohnGoldInc commented on #158
This would also address #165

On Tue, Apr 13, 2021 at 1:56 PM John Gold ***@***.***> wrote:

[2021-04-13 19:01] tonysneed commented on #165
Thanks you!

[2021-04-13 23:15] tonysneed commented on #158
to do things as it's not very extendable in my opinion.

I did not suggest this. Rather, my suggestion is to use a design pattern so that the user would not need to specify how the comments should be formatted. The only option they would need to specify is the kind of generator they want, based on the language option. Then the concrete generator would determine the comment formatting (among other

[2021-04-14 00:22] JohnGoldInc commented on #158
I am actually wanting to make my own Case tool that generates all my layers
from the db  (Entity , Api, Client, UI and the UI might need two sets of
templates  to work right). So I would want to have 5 sets of templates.

If I override HbsCSharpEntityTypeGenerator  I can't have a different
Template folders

On Tue, Apr 13, 2021 at 7:16 PM Anthony Sneed ***@***.***>
wrote:

[2021-04-14 02:03] tonysneed commented on #158
You can still extend HbsCSharpEntityTypeGenerator to generate razor files. But the way the tool works now, you need to have the template folders in each of your projects, rather than having different sets of folders in one project and targeting your output to different projects.

[2021-04-14 08:17] ghisbo commented on #158
In fact this is the exact same reason i have when i asked for generating xaml     #165  When one has a good architecture then it is possible to generate all that is needed for a App. in my case for example i want to generate also UserControls, MenuItems,.. that fit in an "Base Admin" application. ideal for development purposes. It makes little sense to retype all the entities en properties in the

[2021-04-14 13:37] tonysneed commented on #158
@JohnGoldInc @ghisbo As the original framework author, I need to be concerned with ongoing maintenance of each feature. As such, I would consider supporting additional languages, such as F#, because there are [helper classes](https://github.com/efcore/EFCore.FSharp) available for such scenarios (similar to `ICSharpHelper` in Microsoft.EntityFrameworkCore.Design). But extending the tool to support

[2021-04-14 13:37] #158 closed

[2021-04-14 13:42] tonysneed commented on #163
@skuami Did you find my answer helpful? Do you require further assistance with this issue? If not, I will close.

[2021-04-14 13:45] ghisbo commented on #158
Hello,

I perfectly understand your point and I fully accept it .
I do however want to express my thanks for what you have done.
Great job and maybe I go for the extensions. For me, it is still unclear how far I want and can go.

Best regards

ghislain borremans

Van: Anthony Sneed ***@***.***>
Verzonden: woensdag 14 april 2021 15:38
Aan: TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebar

[2021-04-14 13:48] JohnGoldInc commented on #158
Ok Thanks for considering my change

[2021-04-15 06:40] skuami commented on #163
@tonysneed Thanks for your answer. I couldn't solve the problem yet. I am dependend on the open PR with additional information for navPropertyTransform.
I will close this question as soon as I could solve it, ok?

[2021-04-15 06:42] skuami commented on #164
@tonysneed, at the moment I am super busy in multiple projects but as soon as I find some time, I will have a look.
My workaround for now ist not to use folders for schemas. That works perfectly fine.

[2021-04-18 19:39] skuami commented on #163
@tonysneed As I mentioned on the open PR - the additional NavigationDetail information helping me to solve my problem. I hope the PR can be merged anytime soon. I am using code from the PR for now.

[2021-04-18 19:39] #163 closed

[2021-04-20 13:25] ghisbo opened #166 "adding [Question]"
I am using EntityFrameworkCore.Scaffolding.Handlebars to generate xaml   .
it works ok ( i generate it as comment code in entity models)

 except for 1 issue: i need the ordinal of the Column to generate the grid.

I modified the HbsCSharpEntityTypeGenerator GenerateProperties method by adding   "property-ordinal",  but it is not working ( always empty string)

in: HbsCSharpEntityTypeGenerator Gen

[2021-04-20 14:19] JohnGoldInc commented on #166
Is the .GetColumnOrdinal() not giving the value? May need to have an incrementing variable as you go through properties (should be looped through in ordinal order) if that's the issue?

[2021-04-20 15:11] ghisbo commented on #166
the .getColumnOrdinal does the job ( if i debug with console.writeline) but it seams to dissappear afterwards.
I tried it with a counter as well and it gives the same.

[2021-04-20 15:16] JohnGoldInc commented on #166
Maybe use Handlebars built in {{@index}} notation?

[2021-04-20 15:32] ghisbo commented on #166
That was the problem. I added it there as well
Thanks

        public List<Dictionary<string, object>> TransformProperties(List<Dictionary<string, object>> properties)
        {
            var transformedProperties = new List<Dictionary<string, object>>();

            foreach (var property in properties)
            {
                var propTypeInfo = new EntityPropertyInfo(property["property-t

[2021-04-20 15:32] #166 closed

[2021-04-27 07:28] skuami commented on #160
@tonysneed & @john-larson is there a way to find out which navigation property is currently changed? By that I mean I have my services.AddHandlebrasTransformers(navPropertyTransformer: MyMethod);

This method gets called for all my nav properties. With the additional information from @john-larson  PR I am able to change to name in a way I needed it to be. The probelm I am facing now is, that I ren

[2021-04-27 13:06] tonysneed commented on #160
@skuami To get the best answer to your question, I would suggest separating it from the scaffolding tool and posting it to StackOverflow as a question on the EF Core API.

[2021-04-27 13:08] tonysneed commented on #160
@john-larson Have you abandoned this PR? If so, please let me know so I can close it. Perhaps @skuami would be willing to pick it up?

[2021-04-28 20:39] john-larson commented on #160
@tonysneed Sorry, I missed the conversation. I was too busy lately. I would be willing to look into the problems with the unit tests but I don't know when I can find the time for it.

[2021-06-01 05:05] AceCoderLaura commented on #134
Yeah, I'm getting this one as well. You should be able to recreate it just by having two tables that are in different database schemas reference each other with a foreign key.

[2021-06-01 15:24] OronDF343 commented on #155
Hi, I have encountered this issue in a fresh ASP.NET Core Empty project targeting .NET 5.0.
I am using the latest stable NuGet packages and tools.

 - EntityFrameworkCore.Scaffolding.Handlebars 5.0.2
 - Microsoft.EntityFrameworkCore 5.0.6
 - Microsoft.EntityFrameworkCore.Abstractions 5.0.6
 - Microsoft.EntityFrameworkCore.Analyzers 5.0.6
 - Microsoft.EntityFrameworkCore.Design 5.0.6
 - Microsoft.E

[2021-06-02 01:41] AceCoderLaura commented on #134
Yeah, I poked through the code and found the line where the issue is occurring.

https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/19444cf6928df9a5b20586ae125ee98af8f41042/src/EntityFrameworkCore.Scaffolding.Handlebars/HbsCSharpEntityTypeGenerator.cs#L150

The issue is that GetProperties doesn't return navigation properties (see: [GetProperties documentation](htt

[2021-06-03 17:36] tonysneed commented on #134
@AceCoderLaura Would you be able to submit a PR with a fix?

[2021-06-04 00:52] AceCoderLaura commented on #134
Yeah, I've got a fix for it, I was going to write some tests too but I haven't gotten around to it yet. I should get to it later today.

[2021-06-04 03:52] AceCoderLaura commented on #134
Looks like I'd have to turn the tests upside down to modify or add table schemas. I might just submit the fix.

[2021-07-06 13:18] JonruAlveus opened #171 "[Bug] AddHandlebarsTransformers entityNameTransformer name is confusing"
**Describe the bug**
In ServiceCollectionExtensions.AddHandlebarsTransformers, the second parameter (entityNameTransformer) is confusing because it's actually transforming the entity's type name, not the name of the entity itself. I was hoping to use it to transform the generated DbSet name with it, but that's not what it does.

**Expected behavior**
The parameter name/description should be entity

[2021-07-26 19:35] jgill248 opened #172 "[Question] Is there a way to skip columns"
I have many tables in the database that have audit columns. Is there a way to use IDesignTimeServices to skip those columns on every table during entity generation?

[2021-07-30 13:19] coldacid opened #173 "[Feature] Add primary-key, primary-key-type, and property-primary-key expressions"
**Is your feature request related to a problem? Please describe.**
There is currently no way to determine the primary key property or its type in an entity class. This causes me problems when using Entity Framework Power Tools to refresh a third party database in my solution, where I need the entity classes to inherit from a generic base class that takes the type of the primary key's property as t

[2021-09-08 15:56] tonysneed commented on #30
Re-opening, as this [issue](https://github.com/Handlebars-Net/Handlebars.Net/issues/276) was fixed in [v2](https://github.com/Handlebars-Net/Handlebars.Net/releases/tag/2.0.0-preview-2) of [Handlebars.Net](https://github.com/Handlebars-Net/Handlebars.Net).

[2021-09-14 17:43] #134 closed

[2021-09-14 17:44] tonysneed commented on #134
@AceCoderLaura Thank you for your contribution! Sorry it took so long for me to circle back to it.

[2021-09-14 18:22] tonysneed commented on #140
I'll close this issue for now and re-open if there is renewed interest in this feature.

[2021-09-14 18:22] #140 closed

[2021-09-14 18:29] tonysneed commented on #160
Will re-open this issue if @john-larson, @skuami or someone else can fix issues and add tests to #161.

[2021-09-14 18:29] #160 closed

[2021-09-14 20:01] tonysneed commented on #162
@jryutzy `services.AddHandlebarsHelpers` takes a params argument of helpers so that you can pass multiple helpers at the same time. So instead of calling it multiple times, just call it once and pass both of your helpers.

[code]

[2021-09-14 20:01] #162 closed

[2021-09-15 17:01] tonysneed commented on #171
Since this is a potentially breaking change, I'll add it to v6, which will be based on EF Core 6.

[2021-09-15 17:07] tonysneed commented on #173
This is a situation where you will need to take full control of entity generation by extending  HbsCSharpEntityTypeGenerator and overriding `GenerateProperties`. See [here](https://github.com/TrackableEntities/ef-core-community-handlebars#7-full-control-extend-handlebars-generators) for an example of how to do that.

[2021-09-15 17:07] #173 closed

[2021-09-15 17:07] tonysneed commented on #172
This is a situation where you will need to take full control of entity generation by extending  HbsCSharpEntityTypeGenerator and overriding `GenerateProperties`. See [here](https://github.com/TrackableEntities/ef-core-community-handlebars#7-full-control-extend-handlebars-generators) for an example of how to do that.

[2021-09-15 17:07] #172 closed

[2021-09-15 17:24] tonysneed commented on #164
This is fixed by #168.

[2021-09-15 17:24] #164 closed

[2021-09-15 19:27] ErikEJ opened #175 "[Question] 5.0.3 template changes"
Any template changes between 5.0.2 and 5.0.3?

[2021-09-15 19:41] tonysneed commented on #175
No template changes.

[2021-09-15 19:41] #175 closed

[2021-09-23 08:33] davidhendrickmb opened #176 "Schema names added without enabling schema folders"
When reverse engineering using EFCore Power Tools, schemas are now being included in the files and causing errors.
![image](https://user-images.githubusercontent.com/18259436/134476997-a6a35769-3934-4aba-aefc-dbd5d31c926a.png)

Reference github issue:
https://github.com/ErikEJ/EFCorePowerTools/issues/1109

[2021-09-23 23:37] #176 closed

[2021-09-24 12:38] Varorbc commented on #30
If this option is not checked, Chinese will not be encoded.

![image](https://user-images.githubusercontent.com/5714438/134626956-f6beaed6-94ac-4f0c-bdda-fa5469f91094.png)

[2021-09-24 12:43] ErikEJ commented on #30
The option is: Use Data Annotations

[2021-09-24 12:46] Varorbc commented on #30
In addition, it is strange that some Chinese is not encoded

[2021-09-24 12:57] Varorbc commented on #30
In my investigation, I found that some Chinese are not encoded because `SuppressEncoding` is `true`, because I am not familiar with this project and do not know where to assign `SuppressEncoding`

https://github.com/Handlebars-Net/Handlebars.Net/blob/ad5c616c58397c6d52507c859cb9f1b397580e3a/source/Handlebars/IO/EncodedTextWriter.cs#L48-L57

[2021-09-24 12:59] tonysneed commented on #30
This flag was added in Handlebars.Net in v 2 and defaults to `true`. I think we just need to set it to `false`.

[2021-09-24 13:12] tonysneed commented on #30
I am wondering how to reproduce the encoding issue on my side. @Varorbc, @ErikEJ Any tips?

[2021-09-24 13:12] Varorbc commented on #30
Not so.This flag already exists in Handlebar. Net in V1.I think we should find out why some Chinese `SuppressEncoding` is `false` and some Chinese `SuppressEncoding` is `true` instead of directly modifying the default value

[2021-09-24 14:08] tonysneed commented on #30
@Varorbc I think the setting is `NoEscape`.  According to [issue 276](https://github.com/Handlebars-Net/Handlebars.Net/issues/276) in Handlebars.Net, support for `noEscape` was added to Handlebars.Net with [PR 375](https://github.com/Handlebars-Net/Handlebars.Net/pull/375) in [2.0.0-preview-2](https://github.com/Handlebars-Net/Handlebars.Net/releases/tag/2.0.0-preview-2). I will look into how we c

[2021-09-24 15:50] tonysneed commented on #30
@Varorbc Please pull down PR #178 and test to see if it resolves encoding issues.

[2021-09-30 13:33] tonysneed opened #181 "[Feature] Update to EF Core 6"
Update to EF Core 6 sometime before EF Core 6 is released.

[2021-10-07 13:07] omatrot opened #182 "[Question] How to generate an iterator for each entity graph in its own file"
Unless there is something already available, I'd like to generate an iterator for each entity graph by using a variation of an old t4 [template](https://web.archive.org/web/20200722003019/https://docs.microsoft.com/en-us/archive/blogs/adonet/working-with-sets-of-self-tracking-entities). Scroll down to the **_The NorthwindEntityIterator_** Class section.

The business need is, given and old and a n

[2021-10-12 07:06] omatrot commented on #182
I managed to use the t4 on an existing .edmx.
I thought that I would need one file per entity while parsing the model. But it is only one file as shown below:

[code]

[2021-10-19 15:37] RussKahler1970 opened #183 "[Bug] Cannot use latest release of EntityFramework.Core packages"
**Describe the bug**
Getting an error trying to create my own version

**Expected behavior**
Should be able to use latest version of packages.

**To Reproduce**
Create a .net 5 Asp.net website, use current EntityFramework.Core and Design packages.
Create type inhert from HbsCSharpEntityTypeGenerator

Get this error
The type 'CSharpEntityTypeGenerator' is defined in an assembly that is not referenc

[2021-10-19 19:35] RussKahler1970 opened #184 "[Bug] Issue with final text being encoded"
I am trying to add a base class which is supporting generics.
I am getting this
public partial class MyEntity: EntityBase&lt;int&gt;

When I want
public partial class MyEntity: EntityBase<int>

Any thoughts on how to deal with this?

[2021-11-05 13:31] 1legality commented on #183
I am currently having the same problem.

Currently running .NET5 on Visual Studio 2019

Scaffolding.Handlebars versions 5.0.4
EntityFramework 5.0.11

Visual Studio 2019

[2021-11-05 17:50] tonysneed commented on #183
Have you tried updating your NuGet packages?

[2021-11-05 17:52] #182 closed

[2021-11-05 17:56] tonysneed commented on #184
I’ll need more context to help. Do you have a sample repo to share?

[2021-11-05 18:44] RussKahler1970 commented on #184
Sorry I had it backwards above.

I want public partial class MyEntity: EntityBase<int>

but I don't know how to add in the class template to get the generics to work.

[2021-11-05 20:01] tonysneed commented on #184
This is a dup of #30. We are waiting for a fix from Handlebars to merge the fix #180. I’ll ping them to check on progress.

[2021-11-10 19:51] johnwc opened #186 "CodeTemplates folder not copied to output directory on build"
**Describe the bug**
When using the `--startup-project` option to create the db models and db context in a library, but use the connection string from the main project using "Name=ConnectionString:xxx". I have to put the `ConfigureDesignTimeServices` in the main project, and we get the `System.IO.DirectoryNotFoundException: Could not find a part of the path '....MainProject\bin\Debug\net5.0\CodeTe

[2021-11-17 03:37] sssHty opened #187 "[Bug] Cannot run reverse engineering in ef core 6 with handlebars"
using package
EntityFrameworkCore.Scaffolding.Handlebars Version="3.8.5"
Microsoft.EntityFrameworkCore Version="6.0.0"
Microsoft.EntityFrameworkCore.SqlServer Version="6.0.0"
Microsoft.EntityFrameworkCore.Design Version="6.0.0"
Microsoft.EntityFrameworkCore.Tools Version="6.0.0"
dotnet ef --version
Entity Framework Core .NET Command-line Tools
6.0.0
run commond line
dotnet ef dbcontext scaffold "c

[2021-11-18 14:51] gpender opened #188 "[Bug] Generated entity ToTable and Property in generated OnModelCreating lack table and column mappings when Handlebars transformers are used"
**Problems**
We are using this library in an ef core database first application and we have some name changes between our database tables and entity names and our column names and entity properties.
We are able to make these mappings changes using the AddHandlebarsTransformers method calls but the fluent code for the context does not correctly add the .ToTable and does not ever add the .AsColumnNa

[2021-11-19 11:38] tibitoth commented on #181
@tonysneed EF Core 6 was released :)

[2021-11-19 13:31] tonysneed commented on #181
Hi folks, Super sorry I haven’t been able to upgrade for EF Core 6 in time. It will be my top priority this weekend.

Of course, a PR would be gratefully accepted!

[2021-11-20 06:28] johnwc opened #189 "Add table name to AddHandlebarsTransformers propertyTransformer"
As the title explains, add the table name to the propertyTransformer function for AddHandlebarsTransformers so that we know what table/class the property is for.

[2021-11-24 15:08] tonysneed commented on #183
Closing, as it seems this was resolved.

[2021-11-24 15:08] #183 closed

[2021-11-24 15:11] tonysneed commented on #184
Closing as a duplicate of #30. Waiting for Handlebars.Net to fix this [issue](https://github.com/Handlebars-Net/Handlebars.Net/issues/468).

[2021-11-24 16:06] tonysneed commented on #187
Closing a duplicate of #181. Support for EF Core 6 will be added in the very near future.

[2021-11-24 16:06] #187 closed

[2021-11-24 16:11] johnwc commented on #186
There is two issues pointed out. The main issue is with the DB exception when trying to use connecting string by name from the start up project.

[2021-11-24 16:12] tonysneed commented on #189
Looks like this may be a duplicate of #188. Please re-open if this is not the case.

[2021-11-24 16:16] johnwc commented on #189
Does not look to be the same issue.

[2021-11-24 16:19] tonysneed commented on #186
Where is your appSettings.json file located, which contains [connection string name](https://docs.microsoft.com/en-us/ef/core/miscellaneous/connection-strings)? It should be in your MainApp.

[2021-11-24 18:25] biesterv commented on #181
Nice work Rich!

[2021-11-25 00:19] tonysneed commented on #181
Closed by #190. Thank you Rich!

[2021-11-25 00:19] #181 closed

[2021-11-25 00:36] tonysneed commented on #181
Upgrade included with release [v6.0.0-preview1.](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/releases/tag/v6.0.0-preview1)

NuGet: https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/6.0.0-preview1

[2021-11-27 19:02] johnwc commented on #186
It is in the project that is pointed at via the `--startup-project` option, aka the MainApp in the example command line.

[2021-11-28 16:23] tonysneed commented on #186
I was able to reproduce the issue [here](https://github.com/tonysneed/ConStringNameTest). Will look into the cause.

[2021-11-29 16:15] tonysneed commented on #186
The problem is taking place at build-time, not runtime. And it has nothing to do with the `--startup-project` option or using a connection string name.

The project file for EntityFrameworkCore.Scaffolding.Handlebars has a section that copies hbs templates to a `CodeTemplates` folder in the build output directory. For example:

[code]

Sometimes `dotnet build` does not result in the files being co

[2021-11-30 17:26] tonysneed commented on #186
Found out how to fix the problem. Created a [demo project](https://github.com/tonysneed/NuGetCopyFiles) on how to copy files from a NuGet package to an output directory.

I'll create a PR to fix the problem for EntityFrameworkCore.Scaffolding.Handlebars.

[2021-11-30 18:23] #186 closed

[2021-12-02 16:50] tonysneed commented on #184
Re-opening to see if [fix](https://github.com/Handlebars-Net/Handlebars.Net/pull/473) to Handlebars.Net would address this as well.

[2021-12-05 19:20] tonysneed commented on #171
Resolved with v6.0.0-preview4.

[2021-12-05 19:20] #171 closed

[2021-12-12 16:22] tonysneed commented on #189
@johnwc [AddHandlebarsTransformers](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/a67adb9eba3f34625d22080637f69ae032d463e6/src/EntityFrameworkCore.Scaffolding.Handlebars/ServiceCollectionExtensions.cs#L233) now accepts arguments with an [IEntityType](https://docs.microsoft.com/en-us/dotnet/api/microsoft.entityframeworkcore.metadata.ientitytype?view=efcore-5.0

[2021-12-12 16:26] tonysneed commented on #188
@gpender Are you saying there is a problem with generated code for the the context `OnModelCreating` method? If so, could you please provide an example?

[2021-12-12 17:03] gpender commented on #188
Hi @tonysneed , I don't see any problems with the generated code unless I need to specify a different entity name for a table and therefore need the .ToTable fluent call, and/or, I need to specify a different property name for a column and therefore need the .AsColumnName fluent call.
Does that make sense? It was a few weeks ago and I have context switched since then :)

[2021-12-12 17:55] tonysneed commented on #188
The most recent release includes fixes to generating OnModelCreating. Could you please try it again to see if the same behavior is exhibited? If so, could you please provide an example of the problem you are encountering?

[2021-12-13 11:21] gpender commented on #188
Hi @tonysneed I believe I have the latest version and my request is still valid.

1. So for the Entities with different table names I need the generated code to look like this:-
[code]
I added a transformation service for entity type name but this does not seem to be used in the logic for adding the ToTable fluent method.  The code I wrote to make this happen is in my original post

2. For the Col

[2021-12-13 15:06] tonysneed commented on #188
@gpender Thanks for getting back to me with additional info on your enhancement request.

It sounds like there could be two separate PR's:
1. Map table and column names to different entity and property names
2. Make `IContextTransformationService` available to transformers

Let's work on the first PR before considering the second. Would you be able to create a PR for the first with a couple of uni

[2021-12-15 13:09] gpender commented on #188
@tonysneed have made my code changes for part 1/2 and added a couple of unit tests and created a pull request.
Hope its ok :)

[2021-12-15 15:10] gpender commented on #188
@tonysneed
I am now looking at the second part of my request and wanted to clarify why I wanted it.
When I was writing the design time transformer class I created a lookup for my mappings:-
[code]

- Entity Name Mappings require the context:entityname
- PropertyName Mappings require context:entityname:propertyname

So I need the TransformContextFileName method to be called early on in my Transform

[2021-12-15 15:57] gpender commented on #188
@tonysneed  part 2/2 done and existing unit tests all still working

[2021-12-15 19:12] johnwc commented on #189
Yes, that will work perfectly. When will this update be released?

[2021-12-16 13:56] tonysneed commented on #189
@johnwc It's included with the [v6.0.0 release](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/releases/tag/v6.0.0), which I published to NuGet yesterday.

[2021-12-18 21:37] tonysneed opened #198 "[Feature] Make IContextTransformationService available when using Handlebars transformers"
Add `IContextTransformationService` to `HbsCSharpDbContextGenerator` so that the context can be made available when
using the other transforms:
[code]

[2021-12-18 21:39] tonysneed commented on #198
Transfer https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/issues/188#issuecomment-994884840 to this issue.

[2021-12-18 21:46] tonysneed commented on #188
@gpender Created #198 for part 2 of this issue.

[2021-12-18 21:46] #188 closed

[2021-12-18 23:22] tonysneed commented on #198
@gpender I am trying to wrap my head around why you need to call `ContextTransformationService.TransformContextFileName` in the `WriteCode` method of `HbsCSharpDbContextGenerator` and how this would enable you to access the transformed context file name in your transformer class.

Perhaps you would be kind enough to create a small repo containing an example transformer class that shows how calling

[2021-12-19 23:15] tonysneed commented on #189
@johnwc Please re-open if you need further help.

[2021-12-19 23:15] #189 closed

[2021-12-20 16:39] stephenburrows opened #201 "[Bug] ambiguous method call 'ServiceCollectionExtensions.AddHandlebarsTransformers"
Since the update to version 6 I get ambiguous method call when performing a file name transformation

`    services.AddHandlebarsTransformers(entityFileNameTransformer: n => schemea + "." + n)`

only seem to work if you preform all the transforms as show in your code example but in my case i only want to prefix models with their corresponding scheme name,

[2021-12-21 20:51] #201 closed

[2021-12-23 02:52] #30 closed

[2021-12-23 02:52] #184 closed

[2022-01-04 15:21] gpender commented on #198
Hi @tonysneed and Happy New Year :)
sorry for not getting back to you sooner.
In our Use Case application we have multiple existing SQLSERVER databases which we are migrating and there are tables with duplicate names.

So for example we have the table Aircraft appearing in 2 databases (The Aircraft tables are both different)
DatabaseA with table Aircraft
DatabaseB with table Aircraft

To scaffold

[2022-01-06 17:57] johnwc commented on #189
So, trying to determine the property to set. I wrote this quick debug code to see what it comes up with, since I can't step through the code. Why is it coming up twice?

[code]

Outcome...
[code]

[2022-01-09 18:44] johnwc commented on #171
@tonysneed How would someone go about changing the name of the DbSet property names? Our naming convention is that our views starts with lower case "v", how can we get that to be in the DBSet name as well? It currently capitalizes the V like VTempSensors.

[2022-01-19 13:03] davidhendrickmb opened #203 "HasKey Reference Left Out with Non-Conventional Key Property"
Hi there,

This is in relation to the issue here which Erik has mentioned is a problem with this package.
The HasKey reference is being left out when I use Handlebars templates with EF Core 6. Would you know of a fix for this?https://github.com/ErikEJ/EFCorePowerTools/issues/1250

Thanks,
David

[2022-01-19 13:06] ErikEJ commented on #203
Or maybe the Key attribute?

[2022-01-20 01:05] tonysneed commented on #203
Thanks for reporting the bug. I'll work on fixing it.

[2022-01-20 19:22] davidhendrickmb commented on #203
Thank you :)
If you happen to find a temporary workaround please let me know as I'm trying to test out Net 6 upgrade.

[2022-01-21 15:43] slymuffhugger opened #204 "Private functions used in overridable methods?"
Not sure if this qualifies as a "bug", but when attempting to override `GenerateProperties` by copy/pasting the existing code and modifying I'm met with the dreaded red squiggles because the original Method uses private properties and methods.. I can copy/paste those too, but if it ever changes I won't get those changes. Would it be better if they were public or internal?
![image](https://user-ima

[2022-01-22 16:38] tonysneed commented on #203
@davidhendrickmb I am looking at this now. It has to do with the PK not following EF Core naming conventions. I will fix the bug, but if you wish to have a workaround, simply make sure your PK entity property follows the standard [EF Core naming convention for key fields](https://docs.microsoft.com/en-us/ef/core/modeling/keys). In other words, entitynameId. In your case this would be: `Accompanime

[2022-01-22 16:42] ErikEJ commented on #203
Potential duplicate: https://github.com/ErikEJ/EFCorePowerTools/issues/1256

[2022-01-22 19:21] RaulFunezp commented on #203
I have exactly the same problem when using HandleBars in ErikEJ/EfCorePowerTools. The name of my HasKey not generated is like this: AeDeCtaCB.

I hope that when Tony solves that bug, it will solve my case too.
Thank you

[2022-01-22 19:26] #203 closed

[2022-01-22 19:37] tonysneed commented on #203
@ErikEJ @davidhendrickmb @RaulFunezp Fixed with Handlebars [v6.0.3](https://www.nuget.org/packages/EntityFrameworkCore.Scaffolding.Handlebars/6.0.3).

[2022-01-22 19:40] tonysneed commented on #204
Good questions. The private methods can probably be made protected.

Might make a good PR if you are interested. 😄

[2022-01-24 14:43] davidhendrickmb commented on #203
Thanks Tony, much appreciated!

[2022-01-25 14:17] slymuffhugger commented on #204
Haven't really contributed much before but I could give it a go 😃

[2022-01-25 16:45] tonysneed commented on #204
Might make for a good first PR. See the contributing guidelines to how to get started.

[2022-01-25 16:58] slymuffhugger commented on #204
Would we want all of _options accessible or would it be better just to make a protected property that accesses the one property within _options? And should it return false when _options is null? something like
`protected bool GenerateComments =>  _options?.Value?.GenerateComments ?? false;`

[2022-02-16 16:46] gpender commented on #198
Hi @tonysneed

I guess you are very busy at the moment, teaching ? You're repos are always an interesting read :)
Are you likely to be releasing a new version of the Handlebars Scaffolding soon?
The first PR I submitted that you have already signed off on would be very useful to us in the next month or so but I understand if you are busy

Kind Regards
Guy

[2022-02-18 19:10] tonysneed commented on #198
Been super busy, but I haven’t forgotten about this. Thanks for patience and please stay tuned.

[2022-02-25 00:10] bmainsteleo opened #206 "Handlebar Support for Stored Procedure Generation"
It doesn't appear that there is support for Stored Procedures with the Handlebar generation process?  It would be great if that could be included, both as the methods within the Context, and for the entities that represent the SP results.

[2022-02-25 06:44] ErikEJ commented on #206
Handlebars uses what EF Core generates and there is no support for this in EF Core.

EF Core Power Tools reverse engineers both stored procedures and functions.

[2022-02-25 12:56] bmainsteleo commented on #206
OK thanks for the update.  As an enhancement request: could EF Core Power Tools add handlebar support to do this?

[2022-02-25 19:57] tonysneed commented on #206
I haven’t planned to add this feature to Handlebars, as it only uses EF Core scaffolding, which does it reverse engineer entities from sprocs.

[2022-02-25 20:02] ErikEJ commented on #206
You mean not?

[2022-02-25 20:23] tonysneed commented on #206
Thanks — corrected.

[2022-02-26 06:03] ErikEJ commented on #206
@bmainsteleo please create a feature request in the EF Core Power Tools repo

[2022-04-01 23:54] Tuanpham007 opened #207 "DateTime Required Annotation"
Hi there,

In my database I have a column for a DateTime that is required however the "Required" data annotation is not appearing. Should the line in the code below be "!property.ClrType.IsNullableType()"?

https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/2b65b77607ba1212a3b2a7c559cacf3d250bfb59/src/EntityFrameworkCore.Scaffolding.Handlebars/HbsCSharpEntityTypeG

[2022-04-03 01:39] tonysneed commented on #207
I'll see if I can reproduce.

If you like, could you create a Pull Request simple unit test?

[2022-04-12 13:08] RussKahler1970 opened #208 "Access to entity properties"
I am working on a project where I want to build inherited DBContext with selected entities in the base dbcontext being generic so I can have inherited Entity types.   The goal is to allow adding custom properties but build most business logic against the base classes.

For example I have

public class  Entity<T>
{
     pubic T Id {get; set;}
}

namespace  WebApp.Entities
{
public class Contact : E

[2022-05-03 15:11] IvanFarkas opened #209 "How DbSet names can be customized?"
# How DbSet names can be customized?

**I find this tool amazing and invaluable. Thank you very much Tony for your contribution.**

I've seen the previous similar questions, but the answer is wage or perhaps I missed something.

I customized Entities massively using the `EntityTypeGenerator` and `ScaffoldingDesignTimeServices`.
I even added a data dictionary to translate meaningless and totally un

[2022-05-04 14:27] tonysneed commented on #209
Hi @IvanFarkas,

I think you're on the right track. You'll want to follow guidelines for [Taking Full Control by Extending Handlebars Generators](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars#taking-full-control-by-extending-handlebars-generators). Create a class that _inherits_ from `HbsCSharpDbContextGenerator`, then _override_ the `GenerateClass` method.  You c

[2022-05-04 14:39] #206 closed

[2022-05-04 14:50] tonysneed commented on #204
Not a bad idea to make the options protected.

[2022-06-18 13:36] csandun opened #211 "Generate seporate IEntityTypeConfiguration classes (avoids large OnModelCreating) like EFCore Powertool"
I am a big fan of ErikEJ's EFCore power tool. But our use cases in reverse engineering, we have a few edge cases that cannot resolve using the EFCore power tool. By the way, I decided to implement my code to generate using Handlebars. That way, I faced issues in developing separate  IEntityTypeConfiguration classes using the Scaffold command.

Have you any idea do that requirement using handlebars

[2022-06-23 17:54] LeDucThang opened #212 "[Bug] Wrong template for OnModelCreating with mapping table"
**Describe the bug**
With setting of handlebar transformer:
[code]
DbContext will be generated by reverse engine and used CodeTemplates in Handlebars.

Class of Action and Permission after generated like this:
[code]

[code]

The errors appear in OnModelCreating(ModelBuilder modelBuilder), in sections of mapping table
[code]
"entity.HasMany(d => d.PagesDAO)" should be "entity.HasMany(d => d.Pages)

[2022-07-29 18:10] j-childers opened #213 "[Bug] Transforming property name generates multiple HasColumnName() lines"
**Describe the bug**
If the casing of a SQL column name does not match the default property name returned by IEntityType.GetProperties(), scaffolding generates a `HasColumnName` call for both the original name returned from `IEntityType.GetProperties()`, as well as the actual database column name.

**Expected behavior**

Generate a single HasColumnName call with the correct SQL column name.

**To

[2022-07-29 19:46] j-childers commented on #213
In this case, the incorrect name is being added [here](https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/2b65b77607ba1212a3b2a7c559cacf3d250bfb59/src/EntityFrameworkCore.Scaffolding.Handlebars/HbsCSharpDbContextGenerator.cs#L619) in HbsCSharpDbContextGenerator.

The correct column name is being generated by [GenerateFluentApiCalls](https://github.com/TrackableEnt

[2022-08-02 15:25] tejasvih opened #214 "[Bug] Model Imports wrongly generated when EnableSchemaFolders = true when contextNamespace and modelNamespace are same or blank"
**Describe the bug**
Imports are wrongly generated (e.g. using masters = .masters) in context file when EnableSchemaFolders  is set to true in options but either namespace is not provided or its same for context and model.
The base Namespace of model is missing

**Expected behavior**
It should generate namespace as using <schema> = <modelNamespace>.<schema> or using <modelNamespace>.<schema>

**To

[2022-08-02 15:35] tejasvih opened #215 "[Bug] Wrong connection string warning in OnConfiguring"
**Describe the bug**
_#warning To protect potentially sensitive information in your connection string..._  is added on OnConfiguring  method of generated dbContext even when` Name=<connection string name>` is provided in scafolding

**Expected behavior**
It should check if connection string name is provided or connection string is provided before generating the warning

[2022-08-09 14:08] Herdo opened #216 "[Bug] GenerateManyToMany produces wrong code when using AddHandlebarsTransformers"
**Describe the bug**
`HbsCSharpDbContextGenerator.GenerateManyToMany` does not respect configured design time service transformations (Microsoft.EntityFrameworkCore.Design.IDesignTimeServices.ConfigureDesignTimeServices). When `AddHandlebarsScaffolding` is configured with `propertyTransformer`, wrong `IndexProperty<T>` values are configured, basically ignoring `AddHandlebarsScaffolding`.

As examp

[2022-08-09 14:21] Herdo commented on #216
@tonysneed If I should provide a pull request with a failing unit test, I'd the three tables `[dbo].[Employee]`, `[dbo].[Territory]` and `[dbo].[EmployeeTerritories]` to the Northwind example in the test project. This would have some side effects on the other tests as well. Would that be OK? Otherwise, I'd use the `sample/ScaffoldingSample` for reproducing the bug.

[2022-08-10 11:08] Herdo commented on #216
@tonysneed Provided the sample in the PR.

One further thing I noticed while creating the sample:
In my repository where I found the issue, the `IndexerProperty<T>` was written twice, once for each column in the many-to-many table, e.g.:

[code]

In the sample project, only one column was generated:
[code]

My guess is, that only columns that deviate from the standard are added as `IndexerProperty

[2022-08-14 18:02] Herdo commented on #189
@johnwc I just noticed the same thing while working on #216 .
Apparently, the `DeclaringType` of the property is passed into the `PropertyType` parameter, instead of the property's type itself. Therefore, `FanEvent` is the entity type in your case.

@tonysneed Is this intentional? If not, I'll try to fix this alongside 216.

[2022-09-29 07:37] johnwc commented on #216
Is there a way to tell EF that a table is a many-to-many relationship, that has additional columns? Our many-to-many table has a created column that stores the date when it was created. But it causes EF to not scaffold it as a many-to-many, but rather one-to-many-to-one.

[2022-10-10 19:05] jbaig commented on #216
Might be unrelated, but since the Many to Many properties in the scaffolding are nav properties, shouldn't these be using the navPropertyTransformer rather than the entity names?  https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/2b65b77607ba1212a3b2a7c559cacf3d250bfb59/src/EntityFrameworkCore.Scaffolding.Handlebars/HbsCSharpDbContextGenerator.cs#L817

[2022-10-27 15:14] stijndp opened #218 "[Question] How to register multiple propertyTransformer"
[code]
As I found out, this only registers the second transformer.

[code]
I found in the documentation the methods could be chained but this also only applies the last propertyTransformer.

It's the end of the day and my brain is fried so it's probably a simple answer but I couldn't find an example of use.

[2022-11-16 02:52] jryutzy opened #219 "[Question] EF Core 7 and NET 7 Support Timeline"
Are there plans to upgrade to support EF Core 7 and NET 7? This is a great tool!

[2022-11-16 13:17] tonysneed commented on #219
Yes, @bricelam has started work on this, and I intend to complete it as early as this weekend. Glad you like the tool!

[2022-11-20 22:01] #219 closed

[2022-11-21 21:54] aaron-kruse opened #221 "[Question] DbContext public parameterless ctor added in #220"
#220 added a public parameterless constructor to the DbContext constructor templates:
https://github.com/TrackableEntities/EntityFrameworkCore.Scaffolding.Handlebars/blob/2ddd977384a6781ed24f490f00a9f625fcd59c3d/src/EntityFrameworkCore.Scaffolding.Handlebars/CodeTemplates/CSharpDbContext/Partials/DbConstructor.hbs#L1-L3

I looked around for information on why this was added but couldn't find anyth

[2022-11-22 07:41] ErikEJ commented on #221
FWIW, the default .NET 7 reverse engineering does not include the constructor either.

[2022-11-22 14:26] tonysneed commented on #221
I just tried this, and can see that the DbContext generated by the default tooling includes two constructors, one of which is parameterless.

the reason I added it to the hbs partial template was to bring it into conformity with the default tooling. Having it does not interfere with DI.

[2022-11-22 14:49] ErikEJ commented on #221
Is that the EF Core 7 tooling - I do not see that

[2022-11-22 17:00] tonysneed commented on #221
I created a repo [here](https://github.com/tonysneed/ef-core-7-scaffolding-test) to test the default scaffolding behavior.

This is what I got unning the default command:

[code]

This is how the tooling has behaved for quite some time. My hbs templates excluded the parameterless ctor, but I thought it would be a good idea to bring it more in alignment with the default tooling output.

[2022-11-22 17:07] ErikEJ commented on #221
Interesting. Let me double check in EF Core Power Tools

[2022-11-22 17:14] ErikEJ commented on #221
@tonysneed My bad - EF Core 7 tooling includes the constructor for sure!

[2022-11-22 17:30] aaron-kruse commented on #221
Thank you both for the quick feedback and looking into this! After seeing your responses, I looked into this a little bit more and from what I was seeing, it sounded like earlier versions of .NET Core originally weren't generating a parameterless constructor for the DbContext class, but that would lead to problems later when trying to scaffold out controllers/views (resulting in a "No parameterles

[2022-11-22 17:30] #221 closed

[2022-11-22 18:01] tonysneed commented on #221
@aaron-kruse Glad I could answer your question and that the solution works for you. The beauty of the template is that you can always modify to suit your needs. 😀

[2022-11-22 21:19] aaron-kruse opened #222 "[Bug] EF7's HasTrigger is not scaffolded for SQL tables with triggers"
**Describe the bug**
Scaffolding the DbContext/models with a SQL table that has a trigger does not generate `HasTrigger()` per a [breaking change](https://learn.microsoft.com/en-us/ef/core/what-is-new/ef-core-7.0/breaking-changes#sql-server-tables-with-triggers-now-require-special-ef-core-configuration) in EF7. As a result, a DbUpdateException occurs when saving changes that would cause the SQL tr

[2022-11-22 22:40] aaron-kruse commented on #222
For anyone else that might have ran into this, it might also be worth pointing out that the breaking changes documentation has a [Mitigations](https://learn.microsoft.com/en-us/ef/core/what-is-new/ef-core-7.0/breaking-changes#mitigations-2) section that includes a pretty simple workaround.